-c ../constraints.txt  # due to an issue with CI copying files please change to ../../constraints.txt when installing locally
requests
pyyaml
wheel
test-generator
numpy
pytest
py
scikit-build
opencv-python
progress
nibabel
scipy