-c ../constraints.txt
# paddlepaddle #  ticket 95904
numpy
onnxruntime
requests
torch
torchvision
sympy
transformers
packaging
pillow
pytest
defusedxml
# Tensorflow depends on Keras without version constraint, Keras update to 3.14.0 caused Tensorflow Lite Layer Tests failure
keras<=3.13.2
tensorflow
