# build/artifact dirs
_*
[Bb]uild*/
cmake-build*

# but ensure we don't skip __init__.py and __main__.py
!__init__.py
!__main__.py
# and sphinx documentation folders
!docs/sphinx_setup/_*

# developer tools
*.idea
.vscode
.vs/
.vsconan/
.DS_Store
**/tags
compile_commands.json
bin/
.local_vimrc
.gdb_history
.vimspector.json
doc/
docs/build_documentation/work_dir/
temp/
.repo/
CMakeLists.txt.user
docs/IE_PLUGIN_DG/html/
CMakeUserPresets.json
venv

*.project
*.cproject
*.pydevproject
*.settings
*/gen/
*.swp
/config.xml

# Python-specific
*.?env*
*.pyc
__pycache__
# Tests-specific
*.coverage
*htmlcov
*pylint_report.txt
*pylint_report_comments.txt

# JS specific
!__tests__
__tests__/runner/*
# Dependency directory
node_modules
# Coverage directory used by tools like istanbul
coverage
*.lcov
# Optional npm cache directory
.npm

# Artifacts
/tools/mo/*.bin
/tools/mo/*.xml
/tools/mo/*.json
/tools/mo/*.so
/tools/mo/*.txt
/tools/mo/*.pb
/tools/mo/*.pbtxt
/tools/mo/!CMakeLists.txt
/tools/mo/*.mapping
/tools/mo/*.dat
/tools/mo/*.svg
/src/plugins/intel_cpu/tools/commit_slider/*.json
/src/plugins/intel_cpu/tools/commit_slider/slider_cache/*
/src/plugins/intel_cpu/thirdparty/ComputeLibrary/build/*
.github/GITHUB_OUTPUT