[submodule "inference-engine/thirdparty/ade"]
	path = inference-engine/thirdparty/ade
	url = https://github.com/opencv/ade.git
	ignore = dirty
[submodule "inference-engine/thirdparty/mkl-dnn"]
	path = inference-engine/thirdparty/mkl-dnn
	url = https://github.com/openvinotoolkit/oneDNN.git
	ignore = dirty
[submodule "inference-engine/tests/ie_test_utils/common_test_utils/gtest"]
	path = inference-engine/tests/ie_test_utils/common_test_utils/gtest
	url = https://github.com/openvinotoolkit/googletest.git
	ignore = dirty
[submodule "inference-engine/samples/thirdparty/gflags"]
	path = inference-engine/samples/thirdparty/gflags
	url = https://github.com/gflags/gflags.git
	ignore = dirty
[submodule "thirdparty/xbyak"]
	path = thirdparty/xbyak
	url = https://github.com/herumi/xbyak.git
	ignore = dirty
[submodule "thirdparty/zlib/zlib"]
	path = thirdparty/zlib/zlib
	url = https://github.com/madler/zlib.git
	ignore = dirty
