# build/artifact dirs
_*
[Bb]uild*/
cmake-build*

# but ensure we don't skip __init__.py and __main__.py
!__init__.py
!__main__.py
# and sphinx documentation folders
!docs/sphinx_setup/_*

# developer tools
*.idea
.vscode
.vs/
.vsconan/
.DS_Store
**/tags
compile_commands.json
bin/
.local_vimrc
.gdb_history
.vimspector.json
doc/
docs/build_documentation/work_dir/
temp/
.repo/
CMakeLists.txt.user
docs/IE_PLUGIN_DG/html/
CMakeUserPresets.json
venv

*.project
*.cproject
*.pydevproject
*.settings
*/gen/
*.swp
/config.xml

# Python-specific
*.?env*
*.pyc
__pycache__
# Tests-specific
*.coverage
*htmlcov
*pylint_report.txt
*pylint_report_comments.txt

# JS specific
!__tests__
__tests__/runner/*
# Dependency directory
node_modules
# Coverage directory used by tools like istanbul
coverage
*.lcov
# Optional npm cache directory
.npm

# Artifacts
/tools/mo/*.bin
/tools/mo/*.xml
/tools/mo/*.json
/tools/mo/*.so
/tools/mo/*.txt
/tools/mo/*.pb
/tools/mo/*.pbtxt
/tools/mo/!CMakeLists.txt
/tools/mo/*.mapping
/tools/mo/*.dat
/tools/mo/*.svg
/src/plugins/intel_cpu/tools/commit_slider/*.json
/src/plugins/intel_cpu/tools/commit_slider/slider_cache/*
/src/plugins/intel_cpu/thirdparty/ComputeLibrary/build/*
.github/GITHUB_OUTPUT

0001-Add-chrome-trace.patch
0001-rework-padding.patch
CHATGLM3-cpu-hotspots.attach.ic2.remove_crop/
CHATGLM3-cpu-hotspots.attach.ic2/
CHATGLM3-cpu-hotspots.attach.ic4.pr_zp.2/
CHATGLM3-cpu-hotspots.attach.ic4.pr_zp/
CHATGLM3-cpu-hotspots.attach.ic4.remove_crop.2/
CHATGLM3-cpu-hotspots.attach.ic4.remove_crop/
CHATGLM3-cpu-hotspots.attach.n0.ic1000/
CHATGLM3-cpu-hotspots.n0.ic1000-bad/
CHATGLM3-cpu-hotspots/
CHATGLM3-gpu-hotspots.attach.ic10/
CHATGLM3-gpu-hotspots.tmp/
CHATGLM3-gpu-hotspots/
CHATGLM3-gpu-offload.attach.ic10/
CHATGLM3-gpu-offload/
LLM.MD
QWEN-cpu-hotspots.attach.ic4/
QWEN7B-cpu-hotspots.attach.ic4.2/
QWEN7B-cpu-hotspots.attach.ic4.remove_crop/
SmallVector.h
build.sh
chatglm3/
chatglm3_4bit_default/
clinfolog
collect.sh
dmidecode
exec.bin
exec.xml
inlined_vector.h
kernel.errors.txt
loh
nohup.out
qwen-sym/
qwen_mt.model.png
qwen_mt.model.svg
qwen_mtl.dot
report_api.xml
run.sh
verbose