[submodule "inference-engine/thirdparty/ade"]
	path = inference-engine/thirdparty/ade
	url = https://github.com/opencv/ade.git
	ignore = dirty
[submodule "inference-engine/thirdparty/ngraph"]
	path = inference-engine/thirdparty/ngraph
	url = https://github.com/NervanaSystems/ngraph.git
	ignore = dirty
