# See help here: https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

*  @openvinotoolkit/openvino-maintainers

CODEOWNERS  @openvinotoolkit/openvino-admins @openvinotoolkit/openvino-maintainers

# CI:
Jenkinsfile  @openvinotoolkit/openvino-admins
/.github/  @openvinotoolkit/openvino-admins
/.ci/  @openvinotoolkit/openvino-admins

# OpenVINO Samples:
/samples/  @openvinotoolkit/openvino-samples-maintainers

# OpenVINO Scripts:
/scripts/  @openvinotoolkit/openvino-scripts-maintainers

# QA Tests:
/tests/  @openvinotoolkit/openvino-tests-maintainers

# Tools:
/tools/  @openvinotoolkit/openvino-tools-maintainers

# Model Optimizer:
/tools/mo/  @openvinotoolkit/openvino-mo-maintainers

# POT:
/tools/pot/  @openvinotoolkit/openvino-pot-maintainers

# OpenVINO Core:
/src/inference/  @openvinotoolkit/openvino-ie-maintainers
/cmake/ @openvinotoolkit/openvino-ie-maintainers
/src/cmake/ @openvinotoolkit/openvino-ie-maintainers
CMakeLists.txt @openvinotoolkit/openvino-ie-maintainers
*cmake @openvinotoolkit/openvino-ie-maintainers
/src/common/cc/ @openvinotoolkit/openvino-ie-maintainers
/src/common/itt/ @openvinotoolkit/openvino-ie-maintainers
/src/common/legacy/ @openvinotoolkit/openvino-ie-maintainers
/src/common/preprocessing/ @openvinotoolkit/openvino-ie-maintainers
/src/common/util/ @openvinotoolkit/openvino-ie-maintainers
/thirdparty/ @openvinotoolkit/openvino-ie-maintainers
/scripts/ @openvinotoolkit/openvino-ie-maintainers

/src/bindings/python/ @openvinotoolkit/openvino-ie-python-api-maintainers
/src/bindings/c/ @openvinotoolkit/openvino-c-api-maintainers
/src/common/*transformations/  @openvinotoolkit/openvino-ie-transformations-maintainers
/src/core/  @openvinotoolkit/openvino-ngraph-maintainers


# OpenVINO CPU:
/src/plugins/intel_cpu/  @openvinotoolkit/openvino-ie-cpu-maintainers @openvinotoolkit/openvino-ie-cpu-developers
/src/common/snippets/ @openvinotoolkit/openvino-ie-cpu-maintainers
/src/tests/**cpu** @openvinotoolkit/openvino-ie-cpu-maintainers

# OpenVINO LPT
/src/common/low_precision_transformations/  @openvinotoolkit/openvino-ie-lpt-maintainers

# OpenVINO GPU:
/src/plugins/intel_gpu/  @openvinotoolkit/openvino-ie-gpu-maintainers @openvinotoolkit/openvino-ie-gpu-developers
/src/tests/**gpu** @openvinotoolkit/openvino-ie-gpu-maintainers
/src/inference/include/ie/gpu/  @openvinotoolkit/openvino-ie-gpu-maintainers @openvinotoolkit/openvino-ie-gpu-developers
/src/inference/include/ie/cldnn/  @openvinotoolkit/openvino-ie-gpu-maintainers @openvinotoolkit/openvino-ie-gpu-developers

# OpenVINO VPU:
/src/plugins/intel_myriad  @openvinotoolkit/openvino-ie-vpu-maintainers
/src/tests/**myriad** @openvinotoolkit/openvino-ie-vpu-maintainers
/src/inference/include/ie/vpu/ @openvinotoolkit/openvino-ie-vpu-maintainers

# OpenVINO GNA:
/src/plugins/intel_gna/  @openvinotoolkit/openvino-ie-gna-maintainers
/src/tests/**gna**  @openvinotoolkit/openvino-ie-gna-maintainers

# OpenVINO ARM CPU:
/docs/OV_Runtime_UG/supported_plugins/ARM_CPU.md  @openvinotoolkit/openvino_contrib-arm_plugin-maintainers

# OpenVINO Auto (MULTI) plugin:
/src/plugins/auto/  @openvinotoolkit/openvino-ie-auto-multi-maintainers

# OpenVINO Auto (Batch) plugin:
/src/plugins/auto_batch/ @openvinotoolkit/openvino-auto-batch-maintainers

# OpenVINO Hetero plugin:
/src/plugins/hetero/ @openvinotoolkit/openvino-hetero-maintainers


# OpenVINO Frontends:
/src/frontends/common/ @openvinotoolkit/openvino-common-frontend-maintainers
/src/frontends/ir/ @openvinotoolkit/openvino-ir-frontend-maintainers
/src/frontends/onnx/ @openvinotoolkit/openvino-onnx-frontend-maintainers
/src/frontends/tests/onnx/ @openvinotoolkit/openvino-onnx-frontend-maintainers
/src/frontends/paddle/  @openvinotoolkit/openvino-ie-paddle-maintainers
/src/frontends/tensorflow/  @openvinotoolkit/openvino-tf-frontend-maintainers

# OpenVINO Tests:
/src/tests/  @openvinotoolkit/openvino-ie-tests-maintainers @openvinotoolkit/openvino-ie-test-developers
/src/tests_deprecated/  @openvinotoolkit/openvino-ie-tests-maintainers @openvinotoolkit/openvino-ie-test-developers
/src/frontends/tests/frontend/shared/ @openvinotoolkit/openvino-ie-tests-maintainers

# Documentation:
/docs/  @openvinotoolkit/openvino-docs-maintainers
*.md  @openvinotoolkit/openvino-docs-maintainers 
README @openvinotoolkit/openvino-docs-maintainers
/src/plugins/template/ @openvinotoolkit/openvino-ie-template-maintainers

# Control 3d party dependencies
**/*requirements*.*  @openvinotoolkit/openvino-configuration-mgmt
**/setup.py  @openvinotoolkit/openvino-configuration-mgmt
/scripts/install_dependencies/  @openvinotoolkit/openvino-configuration-mgmt
