*  @openvinotoolkit/openvino-maintainers

CODEOWNERS  @openvinotoolkit/openvino-admins @openvinotoolkit/openvino-maintainers

# CI:
Jenkinsfile  @openvinotoolkit/openvino-admins
azure-pipelines.yml  @openvinotoolkit/openvino-admins
/.github/  @openvinotoolkit/openvino-admins

# QA Tests:
/tests/  @openvinotoolkit/openvino-tests-maintainers

# IE in general:
/inference-engine/  @openvinotoolkit/openvino-ie-maintainers

# IE CPU:
/inference-engine/src/mkldnn_plugin/  @openvinotoolkit/openvino-ie-cpu-maintainers
/inference-engine/include/cpu/  @openvinotoolkit/openvino-ie-cpu-maintainers
/inference-engine/src/low_precision_transformations/  @openvinotoolkit/openvino-ie-cpu-maintainers
/inference-engine/thirdparty/mkl-dnn/  @openvinotoolkit/openvino-ie-cpu-maintainers

# IE GPU:
/inference-engine/src/cldnn_engine/  @openvinotoolkit/openvino-ie-gpu-maintainers
/inference-engine/include/gpu/  @openvinotoolkit/openvino-ie-gpu-maintainers
/inference-engine/thirdparty/clDNN/  @openvinotoolkit/openvino-ie-gpu-maintainers

# IE VPU:
/inference-engine/src/vpu/  @openvinotoolkit/openvino-ie-vpu-maintainers
/inference-engine/include/vpu/  @openvinotoolkit/openvino-ie-vpu-maintainers
/inference-engine/thirdparty/movidius/  @openvinotoolkit/openvino-ie-vpu-maintainers

# IE GNA:
/inference-engine/src/gna_plugin/  @openvinotoolkit/openvino-ie-gna-maintainers
/inference-engine/include/gna/  @openvinotoolkit/openvino-ie-gna-maintainers

# IE MULTI:
/inference-engine/src/multi_device/  @openvinotoolkit/openvino-ie-multi-maintainers
/inference-engine/include/multi-device/  @openvinotoolkit/openvino-ie-multi-maintainers

# IE Tests:
/inference-engine/tests/  @openvinotoolkit/openvino-ie-tests-maintainers
/inference-engine/tests_deprecated/  @openvinotoolkit/openvino-ie-tests-maintainers

# MO:
/model-optimizer/  @openvinotoolkit/openvino-mo-maintainers

# nGraph:
/ngraph/  @openvinotoolkit/openvino-mo-maintainers

# Tools
/tools/  @openvinotoolkit/openvino-tools-maintainers
