[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openvino-dev = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.11"
pytest = "*"
pytest-dependency = "==0.5.1"
pytest-html = "*"
pytest-timeout = "==2.1.0"
py = "*"
pygments = "*"
patchelf = "<=0.17.2.1"
docopt = "~=0.6.2"
paddlepaddle = "==2.5.1"
tensorflow = "<2.15.0,>=1.15.5"
six = "~=1.16.0"
protobuf = "*"
onnx = "*"
bandit = "*"
black = "*"
flake8 = "*"
flake8-annotations-complexity = "*"
flake8-broken-line = "*"
flake8-bugbear = "*"
flake8-class-attributes-order = "*"
flake8-comprehensions = "*"
flake8-debugger = "*"
flake8-docstrings = "*"
flake8-eradicate = "*"
flake8-executable = "*"
flake8-expression-complexity = "*"
flake8-print = "*"
flake8-pytest-style = "*"
flake8-rst-docstrings = "*"
flake8-string-format = "*"
flake8-variables-names = "*"
flake8-builtins = "*"
flake8-coding = "*"
flake8-commas = "*"
flake8-pep3101 = "*"
flake8-quotes = "*"
mypy = "*"
pep8-naming = "*"
pydocstyle = "*"
pytest-forked = "*"
pytest-xdist = "*"
radon = "*"
retrying = "*"
tox = "*"
types-pkg-resources = "*"
singledispatchmethod = "*"
torch = "*"
torchvision = "*"
sympy = "*"
pillow = "*"

[test-packages]
pytest = "*"

[mo-packages]
mxnet = "<=1.9.1,>=1.7.0.post2"
onnx = "<=1.14.1,>=1.8.1"
networkx = "*"
pytest = "<7.3,>=5.0"
protobuf = "<4.0.0,>=3.18.1"
defusedxml = "*"
requests = ">=2.25.1"
fastjsonschema = "<2.18,>=2.15.1"
coverage = "<=7.0.5,>=4.4.2"
astroid = ">=2.9.0"
pylint = ">=2.7.0"
pyenchant = ">=3.0.0"
test-generator = "==0.1.1"
py = ">=1.9.0"
urllib3 = ">=1.26.4"
openvino-telemetry = "*"
numpy = ">=1.16.6"
importlib-metadata = "*"

[mo-onnx-packages]
mxnet = "<=1.9.1,>=1.7.0.post2"
onnx = "*"
networkx = "*"
pytest = "<7.3,>=5.0"
protobuf = "*"
defusedxml = "*"
requests = "*"
fastjsonschema = "*"
coverage = "<=7.0.5,>=4.4.2"
astroid = ">=2.9.0"
pylint = ">=2.7.0"
pyenchant = ">=3.0.0"
test-generator = "==0.1.1"
py = ">=1.9.0"
urllib3 = ">=1.26.4"
openvino-telemetry = ">=2023.1.0"
numpy = "<1.26,>=1.16.6"

[mo-tf-packages]
mxnet = "<=1.9.1,>=1.7.0.post2"
onnx = "<=1.14.1,>=1.8.1"
networkx = "*"
pytest = "<7.3,>=5.0"
protobuf = "<4.0.0,>=3.18.1"
defusedxml = "*"
requests = "*"
fastjsonschema = "*"
coverage = "<=7.0.5,>=4.4.2"
astroid = ">=2.9.0"
pylint = ">=2.7.0"
pyenchant = ">=3.0.0"
test-generator = "==0.1.1"
py = ">=1.9.0"
urllib3 = ">=1.26.4"
openvino-telemetry = ">=2023.1.0"
tensorflow = "<2.15.0,>=1.15.5"
numpy = "<1.26,>=1.16.6"
