[MASTER]
disable = fixme,
          invalid-name,
          missing-docstring,
          no-self-use,
          too-few-public-methods,
          too-many-arguments,
          too-many-locals
max-attributes=20
max-line-length = 120
ignore-docstrings = yes
ignored-modules = mo,accuracy_checker,extensions,openvino.inference_engine,cv2,open_model_zoo.model_tools._configuration,open_model_zoo.model_tools._common
ignore-patterns = ac_imports.py
extension-pkg-whitelist = numpy

[SIMILARITIES]
min-similarity-lines = 19
ignore-imports = yes

[BASIC]
good-names=logger,fn

[DESIGN]
max-statements=120
max-branches=14
max-nested-blocks=7

[OPTIONS]
generated-members=torch.*
