-c ../../constraints.txt
--extra-index-url https://download.pytorch.org/whl/cpu
auto-gptq
av
basicsr
datasets
facexlib
g2p-en
kornia
librosa
numpy
optimum
packaging
pandas
protobuf
pyctcdecode
pytest
pytest-html
PyYAML
sacremoses
sentencepiece
soundfile
super-image
timm
torch
torchaudio
torchvision
transformers
wheel
