-c ../../constraints.txt
auto-gptq>=0.5.1
av
basicsr
datasets
easyocr
facexlib
numpy
optimum
packaging
pandas
protobuf
pyctcdecode
pytest
pytest-html
sacremoses
sentencepiece
soundfile
super-image
timm
torch
torchaudio
torchvision
transformers
wheel
PyYAML
kornia

# use latest released version once it's available
git+https://github.com/huggingface/optimum-intel.git@main
# set 'export HF_HUB_ENABLE_HF_TRANSFER=1' to benefits from hf_transfer
hf_transfer

# requirements for specific models
# - hf-tiny-model-private/tiny-random-RoFormerForCausalLM
rjieba

# - katuni4ka/tiny-random-qwen
# - katuni4ka/tiny-random-internlm2
transformers_stream_generator
einops
