--extra-index-url https://storage.openvinotoolkit.org/simple/wheels/nightly/
--extra-index-url https://download.pytorch.org/whl/cpu
# we need at least openvino 2024.2
--pre
openvino
openvino-tokenizers
# use latest released version once it's available
git+https://github.com/huggingface/optimum-intel.git@main
pytest
pytest-html
# set 'export HF_HUB_ENABLE_HF_TRANSFER=1' to benefits from hf_transfer
hf_transfer

# requirements for specific models
# - hf-tiny-model-private/tiny-random-RoFormerForCausalLM
rjieba
# - baichuan-inc/Baichuan2-7B-Chat
bitsandbytes
# - nomic-ai/gpt4all-falcon
# - Qwen/Qwen-7B
# - Qwen/Qwen-7B-Chat
# - mosaicml/mpt-7b
# - internlm/internlm2-7b
einops
# - Qwen/Qwen-7B
# - Qwen/Qwen-7B-Chat
transformers_stream_generator
# - openbmb/MiniCPM-V-2
torchvision
# - openbmb/MiniCPM-V-2
timm
# - Qwen/Qwen-7B
# - Qwen/Qwen-7B-Chat
# - Salesforce/xgen-7b-8k-base
tiktoken