# used in multiple components
numpy>=1.16.6,<2.3.0  # Python bindings, frontends

# Python bindings
pygments>=2.8.1
sympy>=1.10

# Frontends
h5py>=3.1.0,<3.15.0
docopt~=0.6.2
paddlepaddle==2.6.2
tensorflow>=1.15.5,<2.20.0
protobuf>=3.18.1,<7.0.0
onnx==1.17.0
