bandit
black
flake8
flake8-annotations-complexity
flake8-broken-line
flake8-bugbear
flake8-class-attributes-order
flake8-comprehensions
flake8-debugger
flake8-docstrings
flake8-eradicate
flake8-executable
flake8-expression-complexity
flake8-print
flake8-pytest-style
flake8-rst-docstrings
# Force version of pygments from flake8-rst-docstrings
pygments>=2.8.1
flake8-string-format
flake8-variables-names
flake8_builtins
flake8_coding
flake8_commas
flake8_pep3101
flake8_quotes
mypy
onnx==1.12.0
Pep8-naming
pydocstyle
pytest-forked; platform_system != "Windows"
pytest-xdist
pytest
py>=1.9.0
radon
retrying
tox
types-pkg_resources
wheel>=0.38.1
protobuf~=3.18.1
numpy>=1.16.6,<1.24.2