-c ./constraints.txt
protobuf
onnx
numpy
bandit
black
flake8
flake8-annotations-complexity
flake8-broken-line
flake8-bugbear
flake8-class-attributes-order
flake8-comprehensions
flake8-debugger
flake8-docstrings
flake8-eradicate
flake8-executable
flake8-expression-complexity
flake8-print
flake8-pytest-style
flake8-rst-docstrings
pygments
flake8-string-format
flake8-variables-names
flake8_builtins<2.3.0
flake8_coding
flake8_commas
flake8_pep3101
flake8_quotes
mypy
Pep8-naming
pydocstyle
pytest-forked; sys_platform != 'win32'
pytest-xdist
pytest-html
pytest
py
radon
retrying
tox
types-pkg_resources
wheel
singledispatchmethod
torch
torchvision; platform_machine == 'arm64' and python_version >= '3.8'
torchvision; platform_machine != 'arm64'
sympy; platform_machine == 'arm64' and python_version >= '3.8'
sympy; platform_machine != 'arm64'
pillow
