-c ./constraints.txt
numpy
bandit
black
flake8<=7.1.2
flake8-annotations-complexity<=0.0.8
flake8-broken-line<=1.0.0
flake8-bugbear<=24.12.12
flake8-class-attributes-order<=0.2.0
flake8-comprehensions<=3.16.0
flake8-debugger<=4.1.2
flake8-docstrings<=1.7.0
flake8-eradicate<=1.5.0
flake8-executable<=2.1.3
flake8-expression-complexity<=0.0.11
flake8-print<=5.0.0
flake8-pytest-style<=2.1.0
flake8-rst-docstrings<=0.3.0
pygments
flake8-string-format<=0.3.0
flake8-variables-names<=0.0.6
flake8_builtins<2.6.0
flake8_coding<=1.3.2
flake8_pep3101<=2.1.0
flake8_quotes<=3.4.0
mypy
Pep8-naming
pillow
pydocstyle
pytest-forked; sys_platform != 'win32'
pytest-xdist
pytest-html
pytest
radon
retrying
tox
types-setuptools
wheel
pybind11-stubgen<2.6
pre-commit<4.3
