[MASTER]
disable = C0103,
          C0111,
          too-many-locals,
          too-many-arguments,
          unused-argument,
          too-many-instance-attributes,
          too-few-public-methods,
          unsubscriptable-object,
          unbalanced-tuple-unpacking,
          arguments-differ,
          E1101,
          E1111,
          C0204,
          W0201,
          W0107,
          R0401

max-line-length = 120
ignore-docstrings = yes
extension-pkg-whitelist=inference_engine,cv2,numpy
ignored-modules = numpy,cv2,openvino.inference_engine,caffe
load-plugins = pylint_checkers
ignored-classes = pathlib.PurePath
jobs=0

[SIMILARITIES]
ignore-imports = yes

[BASIC]
bad-functions=print,as_posix,absolute
