@font-face {
    font-family: Intel Clear;
    src: url("css/type/IntelClear_WLat_Rg.eot");
    src: url("css/type/IntelClear_WLat_Rg.eot?#iefix") format("embedded-opentype"),
         url("css/type/IntelClear_WLat_Rg.woff") format("woff"),
         url("css/type/IntelClear_WLat_Rg.ttf") format("truetype");
}

:root {
    --pst-font-family-base: Intel Clear, var(--pst-font-family-base-system);
    --pst-font-family-heading: Intel Clear, var(--pst-font-family-base-system);
    --pst-font-family-monospace: Courier, var(--pst-font-family-monospace-system);
    --pst-color-sidebar-link-active: 38, 38, 38;
    --pst-color-sidebar-link: 43, 44, 48;
    --pst-color-sidebar-link-hover: var(--pst-color-sidebar-link-active);
    --pst-color-primary: 0, 104, 181;
    --pst-color-link: 118, 206, 255;
    --pst-color-link-hover: 0, 163, 246;
    --pst-color-border: 226, 226, 228;
    --tabs--label-text--active: #ffffff;
    --tabs--label-background--active: #368ce2;
    --tabs-border: #fff;
    --tabs--label-background: #f7f7f7;
    --pst-color-h1: #262626;
    --pst-color-h2: #262626;
    --pst-color-active-navigation: 38, 38, 38;
    --pst-color-sidebar-caption: 0, 104, 181;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30'%3E%3Cpath stroke='rgba(255,255,255,0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

html .tab-set > label {
    background: var(--tabs--label-background);
}

html .tab-set > label:hover {
        color: var(--tabs--label-text--active);
    background: var(--tabs--label-background--active);
    border-color: var(--tabs--border--active);
}

.tab-set, .tab-content {
    padding-left:0;
    padding-right:0;
}

.tab-content {
    box-shadow:none;
}

html .tab-set > label {
    margin-right:10px;
}

.editthispage a {
    color: #0068B5;
}

#navbar-icon-links i.fa-github-square:before {
    color: #fff;
}

@media (min-width: 720px) {
    .bd-sidebar {
        border-right-color: rgba(var(--pst-color-border));
    }
}

.bd-search input {
    border-bottom-color: rgba(var(--pst-color-border));
}

.tocsection {
    border-left-color: rgba(var(--pst-color-border));
}

.section-nav {
    border-left-color: rgba(var(--pst-color-border));
}

footer {
    border-top-color: rgba(var(--pst-color-border));
}

.navbar {
    background:#0068B5 !important;
}

.navbar-light .navbar-nav li a.nav-link {
    color: #fff !important;
    font-size:16px;
}

blockquote {
    background: #F9F9F9;
    padding:16px;
}

blockquote p {
    margin-bottom:0;
}

.navbar-brand img {
    width:120px;
}

.prev-next-bottom {
    float: right;
}

.prev-next-bottom a.left-prev:before {
    content: '';
}

.prev-next-bottom a.right-next:after {
    content: '';
}

.prev-next-bottom a.left-prev {
    float: none;
}

.prev-next-bottom a.right-next {
    float: none;
}

.prev-next-bottom a.left-prev, .prev-next-bottom a.right-next {
    font-weight:bold;
    padding:7px 20px 7px 20px;
    font-size:14px;
}

@media (min-width: 720px)
.pl-md-5, .px-md-5 {
    padding-left: 3.2rem!important;
}

@media (min-width: 720px)
.pr-md-4, .px-md-4 {
    padding-right: 3.2rem!important;
}

.caption-text {
    font-weight: normal;
}

.bd-sidebar .nav .active:hover>a, .bd-sidebar .nav .active>a {
    font-weight:normal;
}

.bd-sidebar .nav .active:hover>a[href="#"], .bd-sidebar .nav .active>a[href="#"] {
    font-weight:600;
}