.switcher-set {
    margin-bottom:1rem;
}

main img {
    cursor: pointer;
}

.doxyrest-title-code-block {
    margin-bottom: 0;
}

/* Performance Benchmark Graphs */

.chart {
    height: 500px;
    padding:0;
}

/* Table Sort Button */

.sort-header {
    cursor: pointer;
}

.sort-btn {
    content: "";
    background-image:url('media/arrow-small-opposite-v.svg');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 1.5rem;
    width:1.5rem;
    position:relative;
    top:0.5rem;
}

.sort-btn.sort-active.ascending,
.sort-btn.sort-active {
    background-size: 100% 70%;
}

.sort-btn.sort-active.ascending {
    background-image: url('media/union-down.svg');
}

.sort-btn.sort-active {
    background-image: url('media/union-up.svg');
}

div.highlight {
    margin-bottom: 1.15rem;
}

.highlight .err {
    border:none;
    color:inherit;
}

.opt-notice-wrapper {
    position: fixed;
    bottom:0;
    background: black;
    width:100%;
    text-align: center;
    padding: 1rem;
    z-index: 1000;
}

.opt-notice {
    margin-bottom: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width:100%;
    color: #fff;
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1800px;
    }
}
