.switcher-set {
    position:fixed;
    z-index:1000;
    background: rgba(var(--sst-color-navbar-background), 1);
    border-top: 2px solid #fff;
}

.switcher-button {
    margin-top:2px;
    margin-left:1px;
}

.switcher-button, .switcher-button:hover {
    display: inline-block;
    z-index: 1000;
    width: auto;
    padding: 1em 1.25em 0.5em;
    cursor: pointer;
    color: #fff;
}

.switcher-active, .switcher-active:hover {
    background: #fff;
    color: rgb(var(--sst-color-primary));
}

main img {
    cursor: pointer;
}

.doxyrest-title-code-block {
    margin-bottom: 0;
}

/* Performance Benchmark Graphs */

.chart {
    height: 500px;
    padding:0;
}
