.switcher-set {
    margin-bottom:1rem;
}

main img {
    cursor: pointer;
}

.doxyrest-title-code-block {
    margin-bottom: 0;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

/* doc version dropdown formatting override*/

[aria-labelledby="version-selector"]  {
    min-width: 125px!important;
    overflow-x: hidden!important;
}

.sst-dropdown #version-selector {
    min-width: 125px!important;
}

[aria-labelledby="version-selector"]  .dropdown-item {
    padding: 0.25rem 0.5rem!important;
}

/* code reference text formatting override */
code {
    color: black !important;
    font-weight: bold;
}

/* Performance Benchmark Graphs */

.chart {
    height: 500px;
    padding:0;
}

/* Table Sort Button */

.sort-header {
    cursor: pointer;
}

.sort-btn {
    content: "";
    background-image:url('media/arrow-small-opposite-v.svg');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 1.5rem;
    width:1.5rem;
    position:relative;
    top:0.5rem;
}

.sort-btn.sort-active.ascending,
.sort-btn.sort-active {
    background-size: 100% 70%;
}

.sort-btn.sort-active.ascending {
    background-image: url('media/union-down.svg');
}

.sort-btn.sort-active {
    background-image: url('media/union-up.svg');
}

div.highlight {
    margin-bottom: 1.15rem;
}

.highlight .err {
    border:none;
    color:inherit;
}

.opt-notice-wrapper {
    position: fixed;
    bottom:0;
    background: black;
    width:100%;
    text-align: center;
    padding: 1rem;
    z-index: 1000;
}

.opt-notice {
    margin-bottom: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width:100%;
    color: #fff;
}

/* Transition banner */
.transition-banner {
    top: 60px;
    background: #76CEFF;
    position: fixed;
    text-align: center;
    color: white;
    z-index: 1001;
    display: block;
    padding:0 2rem;
    font-size: var(--pst-sidebar-font-size);
    border: none;
    border-radius: 0;
    font-weight: bold;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.transition-banner > p {
    margin-bottom: 0;
}

.transition-banner .close-banner {
    position:absolute;
    top:0;
    right:0;
    padding: 0 1.25rem;
    color: #000;
    background-color: transparent;
    border: 0;
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}
.hidden-banner {
    display: none!important;
}


@media (max-width: 720px) {
    .transition-banner {
        margin-top: 2rem;
    }
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1800px;
    }
}

main  .searchForm {
    margin-bottom: 2rem;
    margin-top: 2rem;
}
