/* Google Search */

div.gs-result {
    padding: 15px 0px;
}

div.gs-result::after {
    clear: both;
    content: "";
    display: block;
 }

div.gs-title > a {
    color: #2171b8;
    font-size: 18px;
}

div.gs-title > a:visited {
    color: #609;
}

div.gs-url {
    font-size: 12px;
    color: #1E9F40; 
}

div.gs-cursor {
    margin-top: 40px;
    cursor: pointer;
}

a.gs-cursor-page {
    margin-right: 10px;
}

a.gs-cursor-page-previous {
    margin-right: 30px;
}

a.gs-cursor-page-next {
    margin-left: 30px;
}

div.gs-cursor a.active {
    color: #2171b8;
    font-weight: bold;
}

div.gs-media {
    float: left;
    margin-right: 4px;
}

div.gs-media img {
    max-width: 60px;
    max-height: 120px;
}

div.gs-file-format-box {
    font-size: 12px;
}

span.gs-file-format {
    color: #6e6e6e;
}

div.gs-file-type {
    font-weight: bold;
}

div.gs-no-results {
    border: 1px solid rgb(255,204,51);
    background-color: rgb(255,244,194);
    color: black;
}

/* Version tabs */

#gs-tabs-area {
    margin-top:2rem;
}

a.gs-tab {
    display: inline-block;
    padding: 0px 10px;
    margin-bottom: 1px;
    text-transform: uppercase;
    cursor: pointer;
}

a.gs-tab-active {
    border-bottom: 2px solid #2171b8;
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: #2171b8 !important;
    font-weight: bold;
}
