/* overrides */
.switcher-set, .prev-next-bottom {display: none;}

#openvino-documentation > h1 {
	display: none;
}

img {
	cursor: default;
}
/* === OPENVINO INTRO ================================================= */

.openvino-intro-text {

	font-size: 1.3em;
}
/* === OPENVINO DIAGRAM ================================================= */

@media only screen and (min-width: 1100px) {
	.openvino-diagram {
		width: 70%;
	}
	}

@media only screen and (max-width: 1099px) {
	.openvino-diagram {
		width: 100%;
	}
	}



/* === PANELS ================================================= */

.homepage-panels {
	background: #0068B5;
	border: none!important;
	border-radius: 0!important;
}
.homepage-panels p.card-text  {
	color:white;
}
.homepage-panels p:first-of-type {
	border-bottom: 1px solid white;
}

/* === OV workflow chart ===================================================== */
#hp-flow-container {
	margin: 0 auto;
	width: 90%;
}

#hp-flow-container div {
	margin: 0;
	float: left;
}

div.hp-flow-arrow {
	width: 5%;
	padding: 40px 5px;
}

div.hp-flow-btn {
	width: 30%;
	background-repeat: no-repeat;
}

#hp-flow-container div.hp-flow-btn:nth-of-type(1) {
	background-image: url("../images/OV_flow_model.svg");
}
#hp-flow-container div.hp-flow-btn:nth-of-type(3) {
	background-image: url("../images/OV_flow_optimization.svg");
}
#hp-flow-container div.hp-flow-btn:nth-of-type(5) {
	background-image: url("../images/OV_flow_deployment.svg");
}

div.hp-flow-btn a img {
	width: 100%;
	visibility: hidden;
}

div.hp-flow-btn:hover a img {
	visibility: visible;
}

/* =================================================================== */
@media only screen and (max-width: 500px) {
	#hp-flow-container div {
		float: none;
		margin: 0 auto;
	}

	div.hp-flow-arrow {
		display: none;
	}

	div.hp-flow-btn {
		width: 50%;
	}
}
