-c ../constraints.txt
--extra-index-url https://download.pytorch.org/whl/cpu
optimum-intel
nncf
whowhatbench @ git+https://github.com/openvinotoolkit/openvino.genai.git#subdirectory=tools/who_what_benchmark
pytest