:root {
  --btn-color: #6d0f3f;
  --link-color: #0054ae;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 14px;
}

h1 a {
  color:var(--link-color);
  text-decoration: none;
}

h1 a:hover {
  text-decoration: underline;
}

.content {
  max-width: 600px;
  margin: 0 auto;
}

.row {
  display: flex;
  align-items: flex-start;
}

.row img {
  border: 1px solid black; 
  max-width: 300px;
  max-height: 300px;
}

canvas { 
  border: 1px solid black; 
  margin-left: 10px;
}

pre {
  margin-left: 10px;
  font-size: 1.5em;
}

.file-selector {
  transition: color .2s ease-in-out, background-color .2s ease-in-out;
  color: var(--btn-color);
  display: inline-block;
  border: 2px solid var(--btn-color);
  padding: 5px 10px;
  margin-bottom: 10px;
  cursor: pointer;
  font-weight: bold; 
  background-color: #fff;
}

.file-selector:hover {
  background-color: var(--btn-color);
  color: #fff;
}

.file-selector input {
  display: none;
}

.hide {
  display: none;
}
