tensorflow>=1.15.2,<2.0; python_version < "3.8"
tensorflow>=2.0; python_version >= "3.8"
mxnet>=1.0.0,<=1.5.1
networkx>=1.11
numpy>=1.14.0,<1.19.0
protobuf>=3.6.1
onnx>=1.1.2
test-generator==0.1.1
defusedxml>=0.5.0
urllib3>=1.25.9
