-c ../../constraints.txt
--extra-index-url https://download.pytorch.org/whl/cpu
av
basicsr
datasets
facexlib
numpy
pandas
protobuf
pyctcdecode
pytest
pytest-html
torch<2.1
torchaudio
torchvision
av
transformers
timm
sacremoses
sentencepiece
soundfile
super-image
timm
torch
torchvision
transformers
wheel
