-c ../../constraints.txt
# This file contains requirements dependednt from modules in requirements.txt
# get immutable commit for tag v0.6
git+https://github.com/facebookresearch/detectron2.git@d1e04565d3bec8719335b88be9e9b961bf3ec464
natten
