-c ../../constraints.txt
--extra-index-url https://download.pytorch.org/whl/cpu
av
basicsr
datasets
facexlib
numpy
pandas
protobuf
pyctcdecode
pytest
pytest-html
sacremoses
sentencepiece
soundfile
super-image
timm
torch
torchaudio
torchvision
transformers
wheel
