-c ../../constraints.txt
numpy
pytest
pytest-html
torch
torchvision
av
transformers
timm
sacremoses
sentencepiece
datasets
pyctcdecode
pytorch-quantization<=2.1.3 --extra-index-url https://pypi.ngc.nvidia.com
protobuf
soundfile
pandas
