/* overrides */
.switcher-set, .prev-next-bottom, .bd-toc {display: none!important;}
#openvino-documentation > h1 {
    display: none;
}

h1 {
    /*font-size: var(--pst-font-size-h2);*/
    /*margin-bottom: 3rem;*/
    display: none!important;
}


#ov-homepage-banner, .openvino-diagram, .ov-homepage-higlight-grid {
    margin-bottom: 90px!important;
}

#ov-homepage-banner {
    padding: 2rem;
    background-color: #76CEFF;
    background-image: linear-gradient(346deg, #728EFA 0%, #76CEFF 50%, #BBE8BD 100%);
    border-bottom: 5px solid #0068b5;
}

#ov-homepage-banner p:first-of-type {
    margin-top: 0;
    margin-bottom: 1rem;
    box-sizing: border-box;
    color: rgb(38, 38, 38);
    display: block;
    font-size: 32px;
    font-weight: bold;
    line-height: 1em;
    text-align: left;
}

#ov-homepage-banner .line-block {
    line-height: 1.5;
    text-align: left;
    color: #000000;
}

.ov-homepage-banner-btn {
    transition: 0.7s;
    font-weight: bold;
    background-color: #0068b5;
    color: #ffffff !important;
}

.ov-homepage-banner-btn:hover {
    background-color: white!important;
    color: var(--sd-color-primary)!important;
}

#ov-homepage-banner > p:nth-child(3) {
    margin-bottom: 0;
}

#ov-homepage-banner a,
#ov-homepage-banner a:visited {
    text-decoration: none;
    color: #00A3F6;
    transition: .7s;
    font-weight: 600;
}

#ov-homepage-banner a:hover {
    color: #653171;
}

.openvino-diagram {
    width: 65%;
    margin-bottom: 3rem;
}

@media (max-width: 720px) {
    .openvino-diagram {
        width: 90%;
    }
}

.ov-homepage-higlight-grid {
    padding: 0;
}

.ov-homepage-higlight-grid > div {
    justify-content:space-evenly;
    row-gap: 20px;
}

.ov-homepage-higlight-grid > div > div.sd-col {
    width: 230px;
    min-height: 300px;
    padding: 0;
    margin-inline: 5px;
}

.ov-homepage-higlight-grid .sd-card {
    box-shadow: 0 0 20px 5px #f3f3f3!important;
    transition: 0.5s;
    overflow: hidden;
}

.ov-homepage-higlight-grid .sd-card-hover:hover {
    border-color: var(--sd-color-card-border)!important;
    transform: scale(1.00)!important;
}

.ov-homepage-higlight-grid .sd-shadow-sm:hover {
    box-shadow: 0 0 10px 2px rgba(108,36,240,0.3) !important;
}

.ov-homepage-higlight-grid .sd-card-title {
    height: 52.781px;
    margin-bottom: 2rem;
}

.ov-homepage-higlight-grid .sd-card-text {
    font-size: 0.9rem;
}

.ov-homepage-higlight-grid .sd-card::after {
    align-self: flex-end;
    display: block;
    content: "LEARN MORE";
    width: 100%;
    font-size: 0.8rem;
    text-align: center;
    padding-top: 0.8rem;
    font-weight: 600;
    color: #00A3F6;
    height: 3rem;
    background-color: #CDEDFF;
}

.ov-homepage-feature-grid .sd-col {
    padding: 0;
    max-width: 48%;
}

.ov-homepage-feature-grid .sd-card {
    border: none;
    box-shadow: 0 0 20px 2px #f3f3f3!important;
    /* box-shadow: none!important; */
}

.ov-homepage-feature-grid .sd-row {
    gap: 1rem;
    justify-content: center;
}


/* =================================================================== */
/* @media screen and (min-width: 720px) {
    main.col-xl-7.bd-content {
        flex: 0 0 75%!important;
        max-width: 75%!important;
    }
}*/

@media screen and (max-width: 535px) {
    .ov-homepage-feature-grid .sd-row {
        flex-direction: column;
        align-items: center;
    }
    .ov-homepage-feature-grid .sd-col {
        max-width: 100%;
    }
}

.sd-row {
    --sd-gutter-x: 0rem!important;
}
