/* overrides */
.switcher-set, .prev-next-bottom, .bd-toc {display: none!important;}
#openvino-documentation > h1 {
    display: none;
}

h1 {
    /*font-size: var(--pst-font-size-h2);*/
    /*margin-bottom: 3rem;*/
    display: none!important;
}

#ov-homepage-banner, .openvino-diagram, .ov-homepage-higlight-grid {
    margin-bottom: 90px!important;
}

.openvino-diagram {
    width: 75%!important;
}

#ov-homepage-banner{
    border-bottom: 0px;
}

.ov-homepage-label{
    font-size: 14px;
    font-weight: bold;
}

.ov-homepage-title {
    font-size: 60px;
}

.ov-homepage-slide-title {
    color: white !important;
    font-size: 22px !important;
    font-weight:lighter !important;
}

.ov-homepage-slide-subtitle {
    color: white !important;
    font-size: 18px !important;
    font-weight:lighter !important;
}

.splide__pagination {
    bottom: .8em !important;
}

#ov-homepage-banner  #splide01-slide01 {
    background-color: #070862;
    background-image: linear-gradient(350deg, #004CA9 0%, #381965 50%, #070862 100%);
    padding: 32px 48px !important;
}

#ov-homepage-banner  #splide01-slide02 {
    background-color: #034CAA;
    background-image: linear-gradient(270deg , #034CAA 00%, #4B9D77 50%, #034CAA 100%);
    padding: 32px 48px !important;
}
#ov-homepage-banner  #splide01-slide03 {
    background-color: #030B5E;
    background-image: linear-gradient(230deg , #030B5E 0%, #285455 40%, #030B5E 100%);
    padding: 32px 48px !important;
}
#ov-homepage-banner  #splide01-slide04 {
    background-color: #214DA4;
    background-image: linear-gradient(110deg, #214DA4 0%, #03aadd 100%);
    padding: 32px 48px !important;
}

#ov-homepage-banner  #splide01-slide05 {
    background-color: #034CAA;
    background-image: linear-gradient(350deg , #034CAA 20%, #034CAA 30%, #4B9D77 100%);
    padding: 32px 48px !important;
}

#ov-homepage-banner {
    p {
        margin: 0.4rem 0 1.2rem 0;
      }
}

#ov-homepage-banner p:first-of-type {
    margin-top: 0;
    margin-bottom: 1rem;
    box-sizing: border-box;
    color: rgb(38, 38, 38);
    display: block;
    font-size: 32px;
    font-weight: bold;
    line-height: 1em;
    text-align: left;
}

#ov-homepage-banner .line-block {
    line-height: 1.5;
    text-align: left;
    color: white;
}

#splide01-track {
    height: calc(180px) !important;
}

.ov-homepage-banner-btn {
    font-size: 14px !important;
    font-weight: bold !important;
    color: #ffffff !important;
    border: 1px solid white;
    padding: 10px 18px!important ;
}

.ov-homepage-banner-btn:hover {
    background-color: white!important;
    color: var(--sd-color-primary)!important;
}

#ov-homepage-banner > p:nth-child(3) {
    margin-bottom: 0;
}

#ov-homepage-banner a,
#ov-homepage-banner a:visited {
    text-decoration: none;
    color: white;
    transition: .7s;
    font-weight: 600;
}

#ov-homepage-banner a:hover {
    color: white;
}

/* TILES ================================= */

#homepage_begin_container,
#homepage_key_container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
    justify-content: space-between;
}

.homepage_begin_tiles {
	padding: 1rem;
	border: solid 1px #DBDBDB;
	width:270px;
	margin:  10px;
    position: relative;
    height: 17rem;
}
.homepage_begin_tiles p:nth-of-type(1) {
	font-weight: bold;
	margin-top:  10px;
	margin-bottom: 5px;
}
.homepage_begin_tiles p:nth-of-type(2) {
	font-size: 0.9rem;
}
.homepage_begin_tiles a {
	padding: 0.5rem 1rem;
	color: #0054AE;
	text-decoration: none;
	background-color: #FFF;
	width: fit-content;
	border: solid 1px #DBDBDB;
    position: absolute;
    bottom: 15px;
}
.homepage_begin_tiles:hover {
	border-color: #1d73c9;
}
.homepage_begin_tiles:hover a {
	color: #fff;
	background-color: #0054AE;
}

.openvino-diagram {
    width: 65%;
    margin-bottom: 3rem;
}

@media (max-width: 720px) {
    #homepage_openvino_diagram {
        width: 90%;
    }
    .openvino-diagram {
        width: 90%;
    }
}

.ov-homepage-higlight-grid {
    padding: 0;
}

.ov-homepage-higlight-grid > div {
    justify-content:space-evenly;
    row-gap: 20px;
}

.ov-homepage-higlight-grid > div > div.sd-col {
    width: 230px;
    min-height: 300px;
    padding: 0;
    margin-inline: 5px;
}

.ov-homepage-higlight-grid .sd-card {
    box-shadow: 0 0 20px 5px #f3f3f3!important;
    transition: 0.5s;
    overflow: hidden;
}

.ov-homepage-higlight-grid .sd-card-hover:hover {
    border-color: var(--sd-color-card-border)!important;
    transform: scale(1.00)!important;
}

.ov-homepage-higlight-grid .sd-shadow-sm:hover {
    box-shadow: 0 0 10px 2px rgba(108,36,240,0.3) !important;
}

.ov-homepage-higlight-grid .sd-card-title {
    height: 52.781px;
    margin-bottom: 2rem;
}

.ov-homepage-higlight-grid .sd-card-text {
    font-size: 0.9rem;
}

.ov-homepage-higlight-grid .sd-card::after {
    align-self: flex-end;
    display: block;
    content: "LEARN MORE";
    width: 100%;
    font-size: 0.8rem;
    text-align: center;
    padding-top: 0.8rem;
    font-weight: 600;
    color: #00A3F6;
    height: 3rem;
    background-color: #CDEDFF;
}

.ov-homepage-feature-grid .sd-col {
    padding: 0;
    max-width: 48%;
}

.ov-homepage-feature-grid .sd-card {
    border: none;
    box-shadow: 0 0 20px 2px #f3f3f3!important;
    /* box-shadow: none!important; */
}

.ov-homepage-feature-grid .sd-row {
    gap: 1rem;
    justify-content: center;
}

.homepage_key_features {
    padding: 0;
    border-width: 0px;
    width:40%;
    margin:  10px;
}
.homepage_key_features img {
    width:100%;
    object-fit: cover;
}

.homepage_key_features p:nth-of-type(1) {
    font-weight: bold;
    margin-top:  10px;
    margin-bottom: 5px;
}

#homepage_key_features div {
    padding: 0;
    max-width: 48%;
	border: none;
    box-shadow: 0 0 20px 2px #f3f3f3!important;
    /* box-shadow: none!important; */
}

.homepage_begin_tiles img {
    width: 60px !important;
}

#homepage_key_features div p:nth-of-type(1) {
    gap: 1rem;
    font-size: 1rem;
}

#homepage_key_features div p:nth-of-type(2) {
    gap: 1rem;
    font-size: 0.8rem;
}

@media screen and (max-width: 535px) {
    .ov-homepage-feature-grid .sd-row {
        flex-direction: column;
        align-items: center;
    }
    .ov-homepage-feature-grid .sd-col {
        max-width: 100%;
    }
}

.sd-row {
    --sd-gutter-x: 0rem!important;
}
