// INTEL CONFIDENTIAL
// Copyright 2017 Intel Corporation.
//
// The source code contained or described herein and all documents related
// to the source code ("Material") are owned by Intel Corporation or its suppliers
// or licensors. Title to the Material remains with Intel Corporation or its suppliers
// and licensors. The Material may contain trade secrets and proprietary
// and confidential information of Intel Corporation and its suppliers and licensors,
// and is protected by worldwide copyright and trade secret laws and treaty provisions.
// No part of the Material may be used, copied, reproduced, modified, published,
// uploaded, posted, transmitted, distributed, or disclosed in any way without Intel's
// prior express written permission.
//
// No license under any patent, copyright, trade secret or other intellectual
// property right is granted to or conferred upon you by disclosure or delivery
// of the Materials, either expressly, by implication, inducement, estoppel
// or otherwise. Any license under such intellectual property rights must
// be express and approved by Intel in writing.
//
// Unless otherwise agreed by Intel in writing, you may not remove or alter this notice
// or any other notice embedded in Materials by Intel or Intel's suppliers or licensors
// in any way.

#include "resource.h"
#include "verrsrc.h"
/////////////////////////////////////////////////////////////////////////////
// English (United States) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

#ifdef _DEBUG
#define OWNFILEFLAGS    VS_FF_DEBUG
#else
#define OWNFILEFLAGS    0x0L
#endif

#ifdef DRIVER
#define OWNFILETYPE     VFT_DRV
#define OWNFILESUBTYPE  VFT2_DRV_SYSTEM
#define OWNORGFILENAME  DRV_NAME ".sys"
#define OWNFILEDESC     "Intel " PRODUCT_S " device driver"
#elif defined(TESTTOOL)
#define OWNFILETYPE     VFT_APP
#define OWNFILESUBTYPE  VFT2_UNKNOWN
#define OWNORGFILENAME  PRODUCT_S ".exe"
#define OWNFILEDESC     "Intel " PRODUCT_S " test application"
#else
#define OWNFILETYPE     VFT_DLL
#define OWNFILESUBTYPE  VFT2_UNKNOWN
#define OWNORGFILENAME  API_DLL ".dll"
#define OWNFILEDESC     "Intel " PRODUCT_S " device module library"
#endif


VS_VERSION_INFO         VERSIONINFO
FILEVERSION             VERSION_FILE_B
PRODUCTVERSION          PRODUCT_VERSION_B
FILEFLAGSMASK           0x0L
FILEFLAGS               OWNFILEFLAGS
FILEOS                  VOS__WINDOWS32
FILEFLAGS               OWNFILETYPE
FILESUBTYPE             OWNFILESUBTYPE
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904e4"
        BEGIN
            VALUE "CompanyName",    "Intel Corporation"
            VALUE "FileDescription",OWNFILEDESC
            VALUE "FileVersion",    VERSION_FILE_A
            VALUE "InternalName",   PRODUCT_S
            VALUE "LegalCopyright", "Copyright (c) 2015, Intel Corporation."
            VALUE "ProductName",    "Intel Neural Network and Gaussian Mixture Model Scoring Accelerator Module"
            VALUE "ProductVersion", PRODUCT_VERSION_A
            VALUE "OriginalFilename",OWNORGFILENAME
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END


#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE
BEGIN
    "\0"
END

3 TEXTINCLUDE
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED

#endif    // English (United States) resources
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED

