root = true

[*]
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

# 4 space indentation
#[*.py]
#indent_style = space
#indent_size = 4

#[{CMakeLists.txt,*.cmake}]
#indent_style = space
#indent_size = 4

#[*.{c,cpp,h,hpp}]
#indent_style = space
#indent_size = 4