body {
    font-size: 14px;
}
.table td, .table th {
    padding: .5em .75em;
}
.table td span {
    font-size: 0.8em;
}
.value {
    font-weight: 500;
}
.value span {
   display:inline-block;
   font-weight: 400;
   padding: 1px 5px;
   border-radius: 2px;
   cursor: default;
}

.nr_value value {
  font-weight: inherit;
  background: #8080803d;
}
.nr_value span {
 display:inherit;
 font-weight: inherit;
 padding: inherit;
 border-radius: inherit;
 cursor: inherit;
}

 .green {
    background: #0080002e;
}
.red {
    background: #ff000038;
}
.grey {
    background: #8080803d;
}
.dark {
    background: #8b000040;
}
.grey-red {
  background: #5e121275;
}
.filters {
    background: #FFF;
    padding: 5px 10px;
    position: sticky;
    top: 0;
    z-index: 30;
}
.filters form {
    display: flex;
    background: #efefef;
    padding: 10px;
    border-radius: 5px;
}
form div{
    margin-right: 10px;
}
form button {
    align-self: center;
    margin-top: 26px;
    margin-left: 20px;
}
.main {
    margin: 10px;
}
.legend {
    display: flex;
}
.legend div {
    display:flex;
    align-items: center;
    margin-right: 20px;
}
.legend span{
    display: inline-block;
    padding: 3px 5px;
    min-height: 25px;
    min-width: 25px;
}
.form-group {
    margin-bottom: 0;
}
#message {
    font-weight: 500;
    font-size: 20px;
    margin: 20px;
    text-align: center;
    color: #cf1d1d;
}
.table-dark:hover {
    background: #212529!important;
}
h2 {
    margin-bottom: 2rem;
}


/* @group Base */
.chosen-container {
    position: relative;
    display: block;
    user-select: none;
  }

  .chosen-container * {
    box-sizing: border-box;
  }

  .chosen-container .chosen-drop {
    position: absolute;
    top: 100%;
    z-index: 1010;
    width: 100%;
    border: 1px solid #aaa;
    border-top: 0;
    background: #fff;
    -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
            box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    clip: rect(0, 0, 0, 0);
    -webkit-clip-path: inset(100% 100%);
            clip-path: inset(100% 100%);
  }

  .chosen-container.chosen-with-drop .chosen-drop {
    clip: auto;
    -webkit-clip-path: none;
            clip-path: none;
  }

  .chosen-container a {
    cursor: pointer;
  }

  .chosen-container .search-choice .group-name, .chosen-container .chosen-single .group-name {
    margin-right: 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: normal;
    color: #999999;
  }

  .chosen-container .search-choice .group-name:after, .chosen-container .chosen-single .group-name:after {
    content: ":";
    padding-left: 2px;
    vertical-align: top;
  }

  /* @end */
  /* @group Single Chosen */
  .chosen-container-single .chosen-single {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 0 0 0 8px;
    height: 25px;
    border: 1px solid #aaa;
    border-radius: 5px;
    background-color: #fff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #fff), color-stop(50%, #f6f6f6), color-stop(52%, #eee), to(#f4f4f4));
    background: linear-gradient(#fff 20%, #f6f6f6 50%, #eee 52%, #f4f4f4 100%);
    background-clip: padding-box;
    -webkit-box-shadow: 0 0 3px #fff inset, 0 1px 1px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 3px #fff inset, 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #444;
    text-decoration: none;
    white-space: nowrap;
    line-height: 24px;
  }

  .chosen-container-single .chosen-default {
    color: #999;
  }

  .chosen-container-single .chosen-single span {
    display: block;
    overflow: hidden;
    margin-right: 26px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .chosen-container-single .chosen-single-with-deselect span {
    margin-right: 38px;
  }

  .chosen-container-single .chosen-single abbr:hover {
    background-position: -42px -10px;
  }

  .chosen-container-single.chosen-disabled .chosen-single abbr:hover {
    background-position: -42px -10px;
  }

  .chosen-container-single .chosen-single div {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 18px;
    height: 100%;
  }

  .chosen-container-single .chosen-search {
    position: relative;
    z-index: 1010;
    margin: 0;
    padding: 3px 4px;
    white-space: nowrap;
  }

  .chosen-container-single .chosen-drop {
    margin-top: -1px;
    border-radius: 0 0 4px 4px;
    background-clip: padding-box;
  }

  .chosen-container-single.chosen-container-single-nosearch .chosen-search {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    -webkit-clip-path: inset(100% 100%);
            clip-path: inset(100% 100%);
  }

  /* @end */
  /* @group Results */
  .chosen-container .chosen-results {
    color: #444;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0 4px 4px 0;
    padding: 0 0 0 4px;
    max-height: 240px;
    -webkit-overflow-scrolling: touch;
  }

  .chosen-container .chosen-results li {
    display: none;
    margin: 0;
    padding: .75rem;
    list-style: none;
    line-height: 15px;
    word-wrap: break-word;
    -webkit-touch-callout: none;
    font-size: 1rem;
  }

  .chosen-container .chosen-results li.active-result {
    display: list-item;
    cursor: pointer;
  }

  .chosen-container .chosen-results li.disabled-result {
    display: list-item;
    color: #ccc;
    cursor: default;
  }

  .chosen-container .chosen-results li.highlighted {
    background-color: #007bff;
    color: #fff;
  }

  .chosen-container .chosen-results li.no-results {
    color: #777;
    display: list-item;
    background: #f4f4f4;
  }

  .chosen-container .chosen-results li.group-result {
    display: list-item;
    font-weight: bold;
    cursor: default;
  }

  .chosen-container .chosen-results li.group-option {
    padding-left: 15px;
  }

  .chosen-container .chosen-results li em {
    font-style: normal;
    text-decoration: underline;
  }

  /* @end */
  /* @group Multi Chosen */
  .chosen-container-multi .chosen-choices {
    position: relative;
    overflow: hidden;
    margin: 0;
    width: 100%;
    height: calc(2.25rem + 2px);
    box-sizing: border-box;
    cursor: text;

    padding: .375rem .75rem;
    font-size: 0.75rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }


  .chosen-container-multi .chosen-choices li {
    float: left;
    list-style: none;
  }

  .chosen-container-multi .chosen-choices li.search-field {
    margin: 0;
    padding: 0;
    white-space: nowrap;
  }

  .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    margin: 1px 0;
    padding: 0;
    height: auto;
    outline: 0;
    border: 0 !important;
    background: transparent !important;
    -webkit-box-shadow: none;
            box-shadow: none;
    color: #999;
    font-size: 1rem;
    font-family: sans-serif;
    line-height: normal;
    border-radius: 0;
    width: 25px;
  }

  .chosen-container-multi .chosen-choices li.search-choice {
    position: relative;
    margin: 0px 5px 0px 0;
    padding: 3px 20px 3px 5px;
    border: 1px solid #aaa;
    max-width: 100%;
    border-radius: 3px;
    background-color: #eeeeee;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), to(#eee));
    background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
    background-size: 100% 19px;
    background-repeat: repeat-x;
    background-clip: padding-box;
    -webkit-box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
            box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
    color: #333;
    line-height: 1rem;
    cursor: default;
  }

  .chosen-container-multi .chosen-choices li.search-choice span {
    word-wrap: break-word;
  }

  .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    position: absolute;
    top: calc( 50% - 6px);
    right: 3px;
    display: block;
    width: 12px;
    height: 12px;
  }
  .chosen-container-multi .chosen-choices li.search-choice .search-choice-close:before {
      content: "";
      width: 0;
      height: 12px;
      border-left: 2px solid #555;
      position: absolute;
      top: 0;
      left: 50%;
      transform: rotate(45deg);
  }
  .chosen-container-multi .chosen-choices li.search-choice .search-choice-close:after {
    content:"";
    width: 0;
    height: 12px;
    border-left: 2px solid #555;
    position: absolute;
    top: 0;
    left: 50%;
    transform: rotate(-45deg);
}

  .chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
    background-position: -42px -10px;
  }

  .chosen-container-multi .chosen-choices li.search-choice-disabled {
    padding-right: 5px;
    border: 1px solid #ccc;
    background-color: #e4e4e4;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), to(#eee));
    background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
    color: #666;
  }

  .chosen-container-multi .chosen-choices li.search-choice-focus {
    background: #d4d4d4;
  }

  .chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close {
    background-position: -42px -10px;
  }

  .chosen-container-multi .chosen-results {
    margin: 0;
    padding: 0;
  }

  .chosen-container-multi .chosen-drop .result-selected {
    display: list-item;
    color: #ccc;
    cursor: default;
  }

  /* @end */
  /* @group Active  */
  .chosen-container-active .chosen-single {
    border: 1px solid #5897fb;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }

  .chosen-container-active.chosen-with-drop .chosen-single {
    border: 1px solid #aaa;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #eee), color-stop(80%, #fff));
    background-image: linear-gradient(#eee 20%, #fff 80%);
    -webkit-box-shadow: 0 1px 0 #fff inset;
            box-shadow: 0 1px 0 #fff inset;
  }

  .chosen-container-active.chosen-with-drop .chosen-single div {
    border-left: none;
    background: transparent;
  }

  .chosen-container-active.chosen-with-drop .chosen-single div b {
    background-position: -18px 2px;
  }

  .chosen-container-active .chosen-choices {
    border: 1px solid #80bdff;
    box-shadow:0 0 0 0.2rem rgb(0 123 255 / 25%)
  }

  .chosen-container-active .chosen-choices li.search-field input[type="text"] {
    color: #222 !important;
  }

  /* @end */
  /* @group Disabled Support */
  .chosen-disabled {
    opacity: 0.5 !important;
    cursor: default;
  }

  .chosen-disabled .chosen-single {
    cursor: default;
  }

  .chosen-disabled .chosen-choices .search-choice .search-choice-close {
    cursor: default;
  }

  /* @end */
  /* @group Right to Left */
  .chosen-rtl {
    text-align: right;
  }

  .chosen-rtl .chosen-single {
    overflow: visible;
    padding: 0 8px 0 0;
  }

  .chosen-rtl .chosen-single span {
    margin-right: 0;
    margin-left: 26px;
    direction: rtl;
  }

  .chosen-rtl .chosen-single-with-deselect span {
    margin-left: 38px;
  }

  .chosen-rtl .chosen-single div {
    right: auto;
    left: 3px;
  }

  .chosen-rtl .chosen-single abbr {
    right: auto;
    left: 26px;
  }

  .chosen-rtl .chosen-choices li {
    float: right;
  }

  .chosen-rtl .chosen-choices li.search-field input[type="text"] {
    direction: rtl;
  }

  .chosen-rtl .chosen-choices li.search-choice {
    margin: 3px 5px 3px 0;
    padding: 3px 5px 3px 19px;
  }

  .chosen-rtl .chosen-choices li.search-choice .search-choice-close {
    right: auto;
    left: 4px;
  }

  .chosen-rtl.chosen-container-single .chosen-results {
    margin: 0 0 4px 4px;
    padding: 0 4px 0 0;
  }

  .chosen-rtl .chosen-results li.group-option {
    padding-right: 15px;
    padding-left: 0;
  }

  .chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
    border-right: none;
  }

  .chosen-rtl.chosen-container-single .chosen-single div b {
    background-position: 6px 2px;
  }

  .chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b {
    background-position: -12px 2px;
  }


  .check {
    width: 16px;
    height: 16px;
    background: #be2d2d;
    text-indent: -1000;
    border-radius: 8px;
    position: relative;
  }

  .check::before {
    display: block;
    border-bottom: 2px solid #FFF;
    position: absolute;
    z:index: 10;
    width: 8px;
    top:7px;
    left: 4px;
    content: "";
  }

  .checkmark {
    display: block;
    width: 16px;
    height: 16px;
    position: relative;
  }

  .checkmark::before {
    position: absolute;
    display: block;
    width: 2px;
    height: 16px;
    background-color: green;
    left: 10px;
    content: '';
    top: 0px;
    z-index: 20;
    transform: rotate(45deg);
  }

  .checkmark::after {
    position: absolute;
    width: 2px;
    content: '';
    height: 7px;
    background-color: green;
    left:3px;
    display: block;
    top: 7px;
    z-index: 20;
    transform: rotate(-45deg);
  }

  .flex {
    display: flex;
    justify-content: space-between;
  }

  .not_impl:hover {
     background: #ffdee1;
  }

  .impl:hover {
     background: #e0fde6;
  }

  .not_run:hover {
    background: #8b000040;
  }

  .scope_stable {
    display: flex !important;
    align-items: center;
    width: 270px;
    height: 100px;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 38px;
    background-color: #ccc;
    border-radius: 20px;
  }

  /* hide HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    border-radius: 20px;
    position: absolute;
    height: 30px;
    width: 80px;
    left: 5px;
    bottom: 4px;
    background-color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    -webkit-transform: translateX(110px);
    -ms-transform: translateX(110px);
    transform: translateX(110px);
  }

  .mandatory {
    border-radius: 20px;
    position: absolute;
    height: 30px;
    width: 80px;
    left: 5px;
    bottom: 4px;
    background-color: rgb(173, 166, 166);
    opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .optional {
    border-radius: 20px;
    position: absolute;
    height: 30px;
    width: 80px;
    left: 115px;
    bottom: 4px;
    background-color: rgb(173, 166, 166);
    opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .toggle_arrow {
    display: flex;
    font-size: 20px;
    justify-content: center;
    opacity: 0.5;
  }

  .th-sw-plugin {
    color: white;
  }

  .th-devices {
    color: white;
    display: block;
    text-align: end;
  }

  .device {
    vertical-align: middle !important;
    font-weight: bold;
  }

  .entity {
    vertical-align: middle !important;
    width: 20%;
  }

