--extra-index-url https://download.pytorch.org/whl/cpu
torch>=1.13
torchvision>=0.17; platform_machine == 'arm64' and python_version >= '3.8'
torchvision>=0.17; platform_machine != 'arm64'
pillow>=9.0