# This file contains baseline versions of Python modules needed to run various OpenVINO tests
# Some of them is used by OpenVINO itself as well.
# It means all requirement versions should be aligned with the product requirements.
# We use pin versions for packages to stabilize test runs

# for common utils
py-cpuinfo==9.0.0
scipy>=1.5.4,<1.16
opencv-python>=4.5; sys_platform != "darwin"
opencv-python==4.8.1.78; sys_platform == "darwin"
unittest-xml-reporting==3.0.4
lpips==0.1.4

# for utils/e2e/comparator note: python 3.6 wheels is not available since 0.18
# Add upper-bound due CVS-105039, CVS-105040
scikit-image>=0.17.2


# for utils legacy
tabulate==0.9.0

pytest>=5.0,<=7.0.1; python_version < '3.10'
pytest==8.3.1; python_version >= '3.10'
pytest-cov==2.11.1
# pytest-html==1.19.0
pytest-html
pytest-json-report==1.5.0
# pytest-metadata==1.7.0
pytest-xdist==3.6.1
pytest-timeout==2.3.1

# for common utils, e2e_tests
openvino-dev
distro==1.9.0
pyyaml==6.0.2
jsonschema==4.23.0
# filelock==3.9.0
omegaconf>=2.1,<2.4
pycocotools>=2.0.6


# For Torch tests
pretrainedmodels==0.7.4
timm>=0.9.2
deepctr-torch

# To avoid conflict dependencies
numpy

# Tensorflow-hub tests
tensorflow-hub
