# Doxyfile 1.8.18

# This file describes the settings to be used by the documentation system
# doxygen (www.doxygen.org) for a project.
#
# All text after a double hash (##) is considered a comment and is placed in
# front of the TAG it is preceding.
#
# All text after a single hash (#) is considered a comment and will be ignored.
# The format is:
# TAG = value [value, ...]
# For lists, items can also be appended using:
# TAG += value [value, ...]
# Values that contain spaces should be placed between quotes (\" \").

@INCLUDE = "@IE_CONFIG_BUILD@"

EXCLUDE_SYMBOLS        = INFERENCE_ENGINE_C_API_EXTERN \
                         INFERENCE_ENGINE_C_API \
                         INFERENCE_ENGINE_C_API_CALLBACK \
                         IE_NODISCARD

PREDEFINED             = "__attribute__(x)=" \
                         "__VA_ARGS__=" \
                         "INFERENCE_ENGINE_C_API_EXTERN=" \
                         "INFERENCE_ENGINE_C_API_CALLBACK=" \
                         "INFERENCE_ENGINE_C_API=" \
                         "IE_NODISCARD=" \
                         "__cdecl=" \
                         "__declspec(x)=" \
                         "_WIN32"

FILE_PATTERNS          = *.h

LAYOUT_FILE            = "@C_LAYOUT_BUILD@"

INPUT                  = "@C_API@"

HTML_OUTPUT            = "@C_OUTPUT@""

GENERATE_TAGFILE       = "@DOCS_BUILD_DIR@/ie_c_api.tag"

WARN_LOGFILE           = "@DOCS_BUILD_DIR@/ie_c_api.log"
