@INCLUDE = @IE_CONFIG_BINARY@

EXCLUDE_SYMBOLS        = INFERENCE_ENGINE_C_API_EXTERN \
                         INFERENCE_ENGINE_C_API \
                         INFERENCE_ENGINE_C_API_CALLBACK \
                         IE_NODISCARD

PREDEFINED             = "__attribute__(x)=" \
                         "__VA_ARGS__=" \
                         "INFERENCE_ENGINE_C_API_EXTERN=" \
                         "INFERENCE_ENGINE_C_API_CALLBACK=" \
                         "INFERENCE_ENGINE_C_API=" \
                         "IE_NODISCARD=" \
                         "__cdecl=" \
                         "__declspec(x)=" \
                         "_WIN32"

FILE_PATTERNS          = *.h

LAYOUT_FILE            = "@C_LAYOUT_BINARY@"

INPUT                  = "@C_API@"

HTML_OUTPUT            = ie_c_api

GENERATE_TAGFILE       = "@DOCS_BINARY_DIR@/ie_c_api.tag"
