@INCLUDE = @IE_CONFIG_BINARY@

LAYOUT_FILE            = "@PLUGIN_LAYOUT_BINARY@"

HTML_OUTPUT            = ie_plugin_api

GENERATE_TAGFILE       = "@DOCS_BINARY_DIR@/ie_plugin_api.tag"

EXTRACT_LOCAL_CLASSES  = NO

INPUT                  = "@DOCS_BINARY_DIR@/docs/IE_PLUGIN_DG" \
                         "@IE_SOURCE_DIR@/src/plugin_api"

FILE_PATTERNS          = *.c \
                         *.cpp \
                         *.c++ \
                         *.h \
                         *.hpp \
                         *.md

EXCLUDE_PATTERNS       = generic_ie.hpp

EXCLUDE_SYMBOLS        =

TAGFILES               = "@DOCS_BINARY_DIR@/ie_api.tag"

EXAMPLE_PATH           = "@IE_SOURCE_DIR@/docs/template_plugin/src" \
                         "@IE_SOURCE_DIR@/docs/template_plugin/include" \
                         "@IE_SOURCE_DIR@/docs/template_plugin/src/CMakeLists.txt" \
                         "@IE_SOURCE_DIR@/docs/template_plugin/tests/functional/CMakeLists.txt" \
                         "@IE_SOURCE_DIR@/docs/template_plugin/tests/functional/transformations" \
                         "@IE_SOURCE_DIR@/docs/template_plugin/tests/functional/shared_tests_instances/" \
                         "@IE_SOURCE_DIR@/inference-engine/tests/functional/plugin/shared/include" \
                         "@IE_SOURCE_DIR@/docs/snippets"

EXAMPLE_PATTERNS       = *.cpp \
                         *.hpp

ENUM_VALUES_PER_LINE   = 1

EXPAND_ONLY_PREDEF     = YES

PREDEFINED             = INFERENCE_ENGINE_API \
                         INFERENCE_ENGINE_API_CPP \
                         INFERENCE_ENGINE_API_CLASS \
                         INFERENCE_ENGINE_DEPRECATED \
                         IE_SUPPRESS_DEPRECATED_START \
                         IE_SUPPRESS_DEPRECATED_END \
                         IE_SUPPRESS_DEPRECATED_START_WIN \
                         IE_SUPPRESS_DEPRECATED_END_WIN \
                         IE_THREAD=IE_THREAD_TBB
