@INCLUDE = @IE_CONFIG_BINARY@

EXCLUDE_SYMBOLS        = ie_api::BlobBuffer \
                         *impl* \
                         *device_name* \
                         *num_requests* \
                         *exec_net* \
                         *c_config* \
                         *ie_core_impl* \
                         *plugin_impl* \
                         *extension_str* \
                         *buffer* \
                         *__cinit__*

PREDEFINED             = "__attribute__(x)=" \
                         "__VA_ARGS__=" \
                         "INFERENCE_ENGINE_C_API_EXTERN=" \
                         "INFERENCE_ENGINE_C_API=" \
                         "IE_NODISCARD=" \
                         "__cdecl=" \
                         "__declspec(x)=" \
                         "__GNUC__=" \
                         "_WIN32"

EXTENSION_MAPPING      = pyx=Python

FILE_PATTERNS          = *.pyx

LAYOUT_FILE            = "@PY_LAYOUT_BINARY@"

INPUT                  = "@PYTHON_API_OUT@"

HTML_OUTPUT            = ie_python_api

GENERATE_TAGFILE       = "@DOCS_BINARY_DIR@/ie_python_api.tag"
