# Doxyfile 1.8.18

# This file describes the settings to be used by the documentation system
# doxygen (www.doxygen.org) for a project.
#
# All text after a double hash (##) is considered a comment and is placed in
# front of the TAG it is preceding.
#
# All text after a single hash (#) is considered a comment and will be ignored.
# The format is:
# TAG = value [value, ...]
# For lists, items can also be appended using:
# TAG += value [value, ...]
# Values that contain spaces should be placed between quotes (\" \").

@INCLUDE = "@IE_CONFIG_BUILD@"

LAYOUT_FILE            = "@PLUGIN_LAYOUT_BUILD@"

HTML_OUTPUT            = "@PLUGIN_OUTPUT@""

GENERATE_TAGFILE       = "@DOCS_BUILD_DIR@/ie_plugin_api.tag"

EXTRACT_LOCAL_CLASSES  = NO

INPUT                  = "@DOCS_BUILD_DIR@/docs/IE_PLUGIN_DG" \
                         "@IE_SOURCE_DIR@/src/plugin_api" \
                         "@IE_SOURCE_DIR@/src/transformations/include" \
                         "@OpenVINO_MAIN_SOURCE_DIR@/openvino/itt/include/openvino"


RECURSIVE              = YES

FILE_PATTERNS          = *.c \
                         *.cpp \
                         *.c++ \
                         *.h \
                         *.hpp \
                         *.md

EXCLUDE_SYMBOLS        = InferenceEngine::details

TAGFILES               = "@DOCS_BUILD_DIR@/ie_api.tag=.." \
                         "@DOCS_BUILD_DIR@/ngraph_cpp_api.tag=../ngraph_cpp_api"

EXAMPLE_PATH           = "@CMAKE_CURRENT_SOURCE_DIR@/template_plugin/src" \
                         "@CMAKE_CURRENT_SOURCE_DIR@/template_plugin/include" \
                         "@CMAKE_CURRENT_SOURCE_DIR@/template_plugin/src/CMakeLists.txt" \
                         "@CMAKE_CURRENT_SOURCE_DIR@/template_plugin/tests/functional/CMakeLists.txt" \
                         "@CMAKE_CURRENT_SOURCE_DIR@/template_plugin/tests/functional/transformations" \
                         "@CMAKE_CURRENT_SOURCE_DIR@/template_plugin/tests/functional/shared_tests_instances/" \
                         "@CMAKE_CURRENT_SOURCE_DIR@/snippets"
                         "@IE_SOURCE_DIR@/tests/functional/plugin/shared/include" \

EXAMPLE_PATTERNS       = *.cpp \
                         *.hpp

ENUM_VALUES_PER_LINE   = 1

EXPAND_ONLY_PREDEF     = YES

PREDEFINED             = "INFERENCE_ENGINE_API=" \
                         "INFERENCE_ENGINE_API_CPP=" \
                         "INFERENCE_ENGINE_API_CLASS=" \
                         "INFERENCE_ENGINE_DEPRECATED=" \
                         "inference_engine_transformations_EXPORTS" \
                         "TRANSFORMATIONS_API=" \
                         "NGRAPH_HELPER_DLL_EXPORT=" \
                         "NGRAPH_HELPER_DLL_IMPORT=" \
                         "IE_SUPPRESS_DEPRECATED_START=" \
                         "IE_SUPPRESS_DEPRECATED_END=" \
                         "_IE_SUPPRESS_DEPRECATED_START_MSVC=" \
                         "_IE_SUPPRESS_DEPRECATED_END_MSVC=" \
                         "_IE_SUPPRESS_DEPRECATED_START_GCC=" \
                         "_IE_SUPPRESS_DEPRECATED_END_GCC=" \
                         "IE_THREAD=IE_THREAD_TBB" \
                         "NGRAPH_RTTI_DECLARATION="

WARN_LOGFILE           = "@DOCS_BUILD_DIR@/ie_plugin_api.log"
