@INCLUDE = @IE_CONFIG_BINARY@

LAYOUT_FILE            = "@PLUGIN_LAYOUT_BINARY@"

HTML_OUTPUT            = ie_plugin_api

GENERATE_TAGFILE       = "@DOCS_BINARY_DIR@/ie_plugin_api.tag"

EXTRACT_LOCAL_CLASSES  = NO

INPUT                  = "@DOCS_BINARY_DIR@/docs/IE_PLUGIN_DG" \
                         "@IE_SOURCE_DIR@/src/plugin_api"

FILE_PATTERNS          = *.c \
                         *.cpp \
                         *.c++ \
                         *.h \
                         *.hpp \
                         *.md

EXCLUDE_PATTERNS       = cnn_network_ngraph_impl.hpp \
                         ie_imemory_state_internal.hpp \
                         ie_memory_state_internal.hpp \
                         ie_memory_state_base.hpp \
                         convert_function_to_cnn_network.hpp \
                         generic_ie.hpp

EXCLUDE_SYMBOLS        =

EXAMPLE_PATH           = "@CMAKE_CURRENT_SOURCE_DIR@/template_plugin/src" \
                         "@CMAKE_CURRENT_SOURCE_DIR@/template_plugin/include" \
                         "@CMAKE_CURRENT_SOURCE_DIR@/template_plugin/src/CMakeLists.txt" \
                         "@CMAKE_CURRENT_SOURCE_DIR@/template_plugin/tests/functional/"
                         CMakeLists.txt \
                         "@CMAKE_CURRENT_SOURCE_DIR@/examples"

EXAMPLE_PATTERNS       = *.cpp \
                         *.hpp

ENUM_VALUES_PER_LINE   = 1

EXPAND_ONLY_PREDEF     = YES

PREDEFINED             = INFERENCE_ENGINE_API \
                         INFERENCE_ENGINE_API_CPP \
                         INFERENCE_ENGINE_API_CLASS \
                         INFERENCE_ENGINE_DEPRECATED \
                         IE_SUPPRESS_DEPRECATED_START \
                         IE_SUPPRESS_DEPRECATED_END \
                         IE_SUPPRESS_DEPRECATED_START_WIN \
                         IE_SUPPRESS_DEPRECATED_END_WIN \
                         IE_THREAD=IE_THREAD_TBB
