@INCLUDE = @IE_CONFIG_BUILD@

PREDEFINED             =

EXTRACT_ALL            = YES

EXCLUDE_PATTERNS       = */exceptions.py \
                         */impl/* \
                         */utils/* \
                         */opset_utils.py

EXCLUDE_SYMBOLS        = ngraph::utils

FILE_PATTERNS          = *.py

LAYOUT_FILE            = @NGRAPH_PY_LAYOUT_BUILD@

INPUT                  = @NGRAPH_PY_DIR@

HTML_OUTPUT            = ngraph_python_api

PYTHON_DOCSTRING       = NO
