@INCLUDE = "@IE_CONFIG_BUILD@"

EXCLUDE_SYMBOLS        = 

PREDEFINED             =

EXCLUDE_PATTERNS       = */python/*

FILE_PATTERNS          = *.cpp \
                         *.c \
                         *.hpp \
                         *.h

LAYOUT_FILE            = "@NGRAPH_CPP_LAYOUT_BUILD@"

INPUT                  = "@NGRAPH_DIR@/core/include/" \
                         "@NGRAPH_DIR@/frontend/onnx_import/include"

HTML_OUTPUT            = ngraph_cpp_api

GENERATE_TAGFILE       = "@DOCS_BUILD_DIR@/ngraph_cpp_api.tag"

WARN_LOGFILE           = @DOCS_BUILD_DIR@/ngraph_cpp_api.log
