# Doxyfile 1.8.18

# This file describes the settings to be used by the documentation system
# doxygen (www.doxygen.org) for a project.
#
# All text after a double hash (##) is considered a comment and is placed in
# front of the TAG it is preceding.
#
# All text after a single hash (#) is considered a comment and will be ignored.
# The format is:
# TAG = value [value, ...]
# For lists, items can also be appended using:
# TAG += value [value, ...]
# Values that contain spaces should be placed between quotes (\" \").

@INCLUDE = "@IE_CONFIG_BUILD@"

EXCLUDE_SYMBOLS        = 

PREDEFINED             =

EXCLUDE_PATTERNS       = */python/*

FILE_PATTERNS          = *.cpp \
                         *.c \
                         *.hpp \
                         *.h

LAYOUT_FILE            = "@NGRAPH_CPP_LAYOUT_BUILD@"

INPUT                  = "@NGRAPH_DIR@/core/include/" \
                         "@NGRAPH_DIR@/frontend/onnx_import/include"

HTML_OUTPUT            = "@NGRAPH_CPP_OUTPUT@"

GENERATE_TAGFILE       = "@DOCS_BUILD_DIR@/ngraph_cpp_api.tag"

WARN_LOGFILE           = "@DOCS_BUILD_DIR@/ngraph_cpp_api.log"
