defusedxml>=0.5.0
scipy==1.5.4
jstyleson==0.0.2
numpy==1.16.6
addict==2.2.1
pandas==0.24.2
hyperopt==0.1.2
networkx==2.2
tqdm==4.31.1
texttable==1.6.3
py-cpuinfo!=5.0,!=6.0
PyYAML>=5.4.1
pillow>=8.1.0
scikit-image
scikit-learn
yamlloader
shapely
nibabel
pydicom
sentencepiece
tokenizers
editdistance
parasail
fast-ctc-decode
rawpy
nltk
opencv-python
