# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pyc

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

*.db

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# QT Creator
*.creator
*.config
*.files
*.includes
*.creator.user*
*.autosave

.DS_Store
@eaDir/
.d/
bin/
*.log
output/
*.png
*.jpg
*.mp2
*.mpg
*.cpio
*.wav
*.backup
doc/source/generated
.cache/
nervana_aeon.egg-info/
*.xsd
*.xslt
.vscode

# emacs
*~

# vim
*.swp
*.swo
tags

build/
scripts/

# makeenv and test intermediate files
tmp/

# Apple
*.AppleDouble

config_args.txt
.nfs*
venv/
.vscode/
.vs/

# VisualGDB files
VisualGDB/
toolchain.cmake

# docbuild artifacts
doc/sphinx/build/*
doc/doxygen/*.xml
doc/doxygen/*.html
doc/doxygen/man/*
doc/doxygen/latex/*
doc/doxygen/xml/*
doc/doxygen/html/*


# python venv things that might get added accidentally
../
python-wheels/
.whl
*.whl
.venv

# python wheels
python/share/*

# git merge
*.orig
\#*
\.#*

python/pybind11/

# remnants from a failed in-source build
CMakeCache.txt
CMakeFiles/
CMakeSettings.json

# don't add dot-save files!

.save

# YouCompleteMe
.ycm_extra_conf.py
