-c ../constraints.txt
h5py
tensorflow>=1.15.5,<2.18.0; platform_system != 'Darwin'
tensorflow>=1.15.5,<2.18.0,!=2.13.1; platform_system == 'Darwin'  # Explanation: 151865
numpy>=1.16.6,<1.27
networkx
defusedxml
requests
fastjsonschema
