{
  "security_settings":
  {
    "user_group":                  "users"                                      // user grouph which can acess autoboot mutex files
  },

  "autoboot_settings":
  {
    "work_mode":                   "scan",                                      // mode of monitoring devices, options: {"scan", "hotplug"}
    "startup_wait_timeout":        20000,                                      // wait timeout for autoboot startup loading all firmwares to devices in milliseconds
    "abort_if_hw_reset_failed":    true,                                        // abort if hardware reset of devices failed, e.g. because of lack of SMBus on PCIe support
    "abort_if_device_num_not_met": false,                                       // abort if still not all devices successfully load firmwares after timeout
    "total_device_num":            0                                            // total number of myriad devices to be used. If 0 autoboot will try to find enough devices until startup_wait_timeout expires
  },

  "unboot_device_settings":
  {
    "vid":                         "0x03E7",                                    // uninitialized device USB vendor ID
    "pid":                         "0x2485"                                     // uninitialized device USB product ID
  },

  "booted_device_settings":
  {
    "vid":                         "0x03E7",                                    // booted device USB vendor ID
    "pid":                         "0xF63B"                                     // booted device USB product ID
  },

  "log_level":
  {
    "log_frequent":                "off",
    "log_debug":                   "off",
    "log_process":                 "off",
    "log_info":                    "on",
    "log_warn":                    "on",
    "log_error":                   "on",
    "log_fatal":                   "on"
  },

  "firmware_settings":
  [
    {
      "name":                      "default",                                   // firmware name
      "num":                       0,                                           // number of devices using this firmware, for default firmware, 0 means using all left devices after satisfying custom firmwares
      "path":                      "default"                                    // firmware file path, if it's only file name it will be searched in ${HDDL_INSTALL_DIR}/lib/mvnc
    }
  ]
}


