log4cpp.category.MessageDispatcher=DEBUG, MessageDispatcher
#log4cpp.additivity.MessageDispatcher=false
log4cpp.appender.MessageDispatcher=FileAppender
log4cpp.appender.MessageDispatcher.fileName=./log/MessageDispatcher.log
log4cpp.appender.MessageDispatcher.layout=PatternLayout
log4cpp.appender.MessageDispatcher.layout.ConversionPattern=[%d][%p]%m%n

log4cpp.category.ResultDispatcher=DEBUG, ResultDispatcher
#log4cpp.additivity.ResultDispatcher=false
log4cpp.appender.ResultDispatcher=FileAppender
log4cpp.appender.ResultDispatcher.fileName=./log/ResultDispatcher.log
log4cpp.appender.ResultDispatcher.layout=PatternLayout
log4cpp.appender.ResultDispatcher.layout.ConversionPattern=[%d][%p]%m%n

log4cpp.category.WorkThread=DEBUG, WorkThread
#log4cpp.additivity.WorkThread=false
log4cpp.appender.WorkThread=FileAppender
log4cpp.appender.WorkThread.fileName=./log/WorkThread.log
log4cpp.appender.WorkThread.layout=PatternLayout
log4cpp.appender.WorkThread.layout.ConversionPattern=[%d][%p]%m%n

log4cpp.category.ClientManager=DEBUG, ClientManager
#log4cpp.additivity.ClientManager=false
log4cpp.appender.ClientManager=FileAppender
log4cpp.appender.ClientManager.fileName=./log/ClientManager.log
log4cpp.appender.ClientManager.layout=PatternLayout
log4cpp.appender.ClientManager.layout.ConversionPattern=[%d][%p]%m%n

log4cpp.category.GraphManager=DEBUG, GraphManager
#log4cpp.additivity.GraphManager=false
log4cpp.appender.GraphManager=FileAppender
log4cpp.appender.GraphManager.fileName=./log/GraphManager.log
log4cpp.appender.GraphManager.layout=PatternLayout
log4cpp.appender.GraphManager.layout.ConversionPattern=[%d][%p]%m%n

log4cpp.category.DeviceManager=DEBUG, DeviceManager
#log4cpp.additivity.DeviceManager=false
log4cpp.appender.DeviceManager=FileAppender
log4cpp.appender.DeviceManager.fileName=./log/DeviceManager.log
log4cpp.appender.DeviceManager.layout=PatternLayout
log4cpp.appender.DeviceManager.layout.ConversionPattern=[%d][%p]%m%n

log4cpp.category.TaskManager=DEBUG, TaskManager
#log4cpp.additivity.TaskManager=false
log4cpp.appender.TaskManager=FileAppender
log4cpp.appender.TaskManager.fileName=./log/TaskManager.log
log4cpp.appender.TaskManager.layout=PatternLayout
log4cpp.appender.TaskManager.layout.ConversionPattern=[%d][%p]%m%n

log4cpp.category.DeviceSchedulerSGAD=DEBUG, DeviceSchedulerSGAD
#log4cpp.additivity.DeviceSchedulerSGAD=false
log4cpp.appender.DeviceSchedulerSGAD=FileAppender
log4cpp.appender.DeviceSchedulerSGAD.fileName=./log/DeviceSchedulerSGAD.log
log4cpp.appender.DeviceSchedulerSGAD.layout=PatternLayout
log4cpp.appender.DeviceSchedulerSGAD.layout.ConversionPattern=[%d][%p]%m%n

log4cpp.category.TaskSchedulerFCFS=DEBUG, TaskSchedulerFCFS
#log4cpp.additivity.TaskSchedulerFCFS=false
log4cpp.appender.TaskSchedulerFCFS=FileAppender
log4cpp.appender.TaskSchedulerFCFS.fileName=./log/TaskSchedulerFCFS.log
log4cpp.appender.TaskSchedulerFCFS.layout=PatternLayout
log4cpp.appender.TaskSchedulerFCFS.layout.ConversionPattern=[%d][%p]%m%n

log4cpp.category.HddlMyriadXDevice=DEBUG, HddlMyriadXDevice
#log4cpp.additivity.HddlMyriadXDevice=false
log4cpp.appender.HddlMyriadXDevice=FileAppender
log4cpp.appender.HddlMyriadXDevice.fileName=./log/HddlMyriadXDevice.log
log4cpp.appender.HddlMyriadXDevice.layout=PatternLayout
log4cpp.appender.HddlMyriadXDevice.layout.ConversionPattern=[%d][%p]%m%n

log4cpp.rootCategory=ERROR, console
log4cpp.appender.console=ConsoleAppender
log4cpp.appender.console.layout=PatternLayout
log4cpp.appender.console.layout.ConversionPattern=[%d{%H:%M:%S.%l}][%p]%m%n
log4cpp.appender.console.additivity=false
