{
  "api_settings":
  {
    "max_cache_task":              150,
    "timeout":                     60
  },

  "log_level":
  {
    "log_frequent":                "off",
    "log_debug":                   "off",
    "log_process":                 "off",
    "log_info":                    "on",
    "log_warn":                    "on",
    "log_error":                   "on",
    "log_fatal":                   "on"
  }
}
