alabaster
Babel
beautifulsoup4
certifi
charset-normalizer
Cython
docutils==0.14
idna
imagesize
Jinja2
lxml
MarkupSafe
mistune
packaging
pydata-sphinx-theme
Pygments
pyparsing
pytz
requests
snowballstemmer
soupsieve
Sphinx
sphinx-copybutton
sphinx-inline-tabs
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
urllib3
sphinx_sitemap
pytest
pytest-html
