alabaster==0.7.16
atomicwrites==1.4.1
attrs==25.3.0
Babel==2.17.0
beautifulsoup4==4.13.5
breathe==4.36.0
certifi==2024.7.4
colorama==0.4.6
Cython==3.1.2
docutils==0.21.2
idna==3.10
imagesize==1.4.1
importlib-metadata>=4.8.0,<9.0.0
iniconfig==2.1.0
ipython==8.18.1
Jinja2==3.1.6
jsonschema==4.25.1
lxml>=4.9.2
MarkupSafe==3.0.2
mistune==3.1.4
myst-parser==3.0.1; python_version < "3.10"
myst-parser==4.0.1; python_version >= "3.10"
packaging==25.0
pluggy==1.6.0
pydata-sphinx-theme==0.14.4
Pygments==2.19.2
pyparsing==3.0.9
pytest==8.4.1
pytest-html==3.1.1; python_version < "3.10"
pytest-metadata==1.11.0; python_version < "3.10"
pytest-html==4.1.1; python_version >= "3.10"
pytest-metadata==3.1.1; python_version >= "3.10"
py>=1.11.0
pytz==2022.7
pyyaml==6.0.2
requests==2.32.4
six==1.17.0
snowballstemmer==3.0.1
soupsieve==2.8
sphinx==7.4.7; python_version >= "3.10"
sphinx==7.3.7; python_version < "3.10"
sphinx-copybutton==0.5.2
sphinx-design==0.6.1
sphinx-inline-tabs==2023.4.21
sphinx-sitemap==2.6.0
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
toml==0.10.2
urllib3==2.5.0
zipp==3.23.0
