alabaster==0.7.12
atomicwrites==1.4.0
attrs==21.4.0
Babel==2.9.1
beautifulsoup4==4.10.0
certifi==2021.10.8
charset-normalizer==2.0.10
colorama==0.4.4
Cython==0.29.26
docutils==0.14
idna
imagesize
Jinja2
lxml
MarkupSafe
mistune
packaging
pydata-sphinx-theme
Pygments
pyparsing
pytz
requests
snowballstemmer
soupsieve
Sphinx
sphinx-copybutton
sphinx-inline-tabs
sphinx-panels
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
urllib3
sphinx_sitemap
pytest
pytest-html
