.scrollbox table {
   border-collapse: separate;
   border-spacing: 0;
}
.scrollbox table th {
   background: white;
   position: -webkit-sticky;
   position: sticky;
   inset-block-start: 0;
   top: 0;
   border-top: solid 1px rgba(222, 226, 230, 1);
   border-bottom: solid 1px rgba(222, 226, 230, 1);
}