.scrollbox table {
   border-collapse: separate;
   border-spacing: 0;
   display: table!important;
   margin: 0px;
   width: 100%;
   height:inherit;
   overflow-y:scroll;
}

.scrollbox table thead {
   position: -webkit-sticky!important;
   position: sticky!important;
   top: 0!important;
}

.scrollbox table th {
   background: white;
   position: -webkit-sticky!important;
   position: sticky!important;
   top: 0!important;
   border-top: solid 1px #dee2e6!important;
   border-bottom: solid 1px #dee2e6!important;
}

.scrollable {
   -ms-overflow-style: none;
   scrollbar-width: none;
   overflow-y: scroll;
}

.scrollable::-webkit-scrollbar {
   display: none;
 }

.scrollbox {
overflow-x: hidden;
}