body {
    font-size: 14px;
}
.table td, .table th {
    padding: .5em .75em;
}
.table td span {
    font-size: 0.8em;
}
.value {
    font-weight: 500;
}
.value span {
   display:inline-block;
   font-weight: 400;
   padding: 1px 5px;
   border-radius: 2px;
   cursor: default;
}
 .green {
    background: #0080002e;
}
.red {
    background: #ff000038;
}
.grey {
    background: #8080803d;
}
.dark {
    background: #8b000040;
}
.filters {
    background: #FFF;
    padding: 5px 10px;
    position: sticky;
    top: 0;
}
.filters form {
    display: flex;
    background: #efefef;
    padding: 10px;
    border-radius: 5px;
}
form div{
    margin-right: 10px;
}
form button {
    align-self: center;
    margin-top: 26px;
    margin-left: 20px;
}
.main {
    margin: 10px;
}
.legend {
    display: flex;
}
.legend div {
    display:flex;
    align-items: center;
    margin-right: 20px;
}
.legend span{
    display: inline-block;
    padding: 3px 5px;
    min-height: 25px;
    min-width: 25px;
}
.colorRed {
    color:#cf1d1d;
    font-weight: bold;
}
.form-group {
    margin-bottom: 0;
}
#message {
    font-weight: 500;
    font-size: 20px;
    margin: 20px;
    text-align: center;
    color: #cf1d1d;
}
.table-dark:hover {
    background: #212529!important;
}
h2 {
    margin-bottom: 2rem;
}
