name: Code Style
on: [pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  clang-format:
    runs-on: ubuntu-20.04
    permissions:
      contents: read
      checks: write
      issues: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'true'

      - name: Install clang-format-9
        run: |
          sudo apt update
          sudo apt --assume-yes install clang-format-9

      # Run cmake with -DENABLE_PROFILING_ITT=ON -DSELECTIVE_BUILD=COLLECT in order to enable codestyle check for ITT collector
      - name: CMake configure
        run: cmake -DENABLE_PYTHON=ON -DENABLE_TESTS=ON -DENABLE_PROFILING_ITT=ON -DSELECTIVE_BUILD=COLLECT -B build

      - name: Create code style diff
        run: cmake --build build --target clang_format_fix_all -j8

      - name: suggester / clang-format
        uses: reviewdog/action-suggester@v1
        with:
          github_token: ${{ github.token }}
          tool_name: "clang-format"
          reviewdog_flags: -reporter=github-pr-review
          level: warning
          fail_on_error: true

  ShellCheck:
    runs-on: ubuntu-22.04
    permissions:
      contents: read
      checks: write
      issues: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'true'

      - name: Install ShellCheck
        run: |
          sudo apt update
          sudo apt --assume-yes install shellcheck

      - name: CMake configure
        run: cmake -B build
#
#      - name: Shellcheck cmake target
#        run: cmake --build build --target ov_shellcheck -j8

      # always provide suggestions even for skipped scripts in ov_shellcheck target
      - name: ShellCheck action
        if: always()
        uses: reviewdog/action-shellcheck@v1
        with:
          reporter: github-pr-review
          check_all_files_with_shebangs: true
          github_token: ${{ github.token }}
          fail_on_error: true
          path: |
            samples/cpp/
            ${{ github.workspace }}
          exclude: |
              "*/thirdparty/*"
              "./temp/*"
              "*/.git/*"

  NamingConventionCheck:
    runs-on: ubuntu-22.04
    permissions:
      contents: read
      checks: write
      issues: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'true'

      - name: Install Clang dependency
        run: |
          sudo apt update
          sudo apt --assume-yes remove clang-7 clang-8 clang-9 clang-10 clang-11 clang-12 clang-13 clang-15
          sudo apt --assume-yes install clang-14 libclang-14-dev

      - name: Install Python-based dependencies
        run: python3 -m pip install -r cmake/developer_package/ncc_naming_style/requirements_dev.txt

      - name: CMake configure
        run: cmake -DENABLE_NCC_STYLE=ON -B build

      - name: Naming convention check
        run: cmake --build build --target ncc_all -j8

      - name: suggester / Naming Convention
        if: always()
        uses: reviewdog/action-suggester@v1
        with:
          github_token: ${{ github.token }}
          reviewdog_flags: -reporter=github-pr-review
          level: error
          fail_on_error: true
