name: Debian 10 ARM
on:
  workflow_dispatch:
    inputs:
      target-branch:
        description: 'Target branch for the build; taken from event context by default'
        type: string
        required: false
  pull_request:
  merge_group:
  push:
    branches:
      - master
      - 'releases/**'

concurrency:
  # github.ref is not unique in post-commit
  group: ${{ github.event_name == 'push' && github.run_id || github.ref }}-debian-10-arm
  cancel-in-progress: true

permissions: read-all

jobs:
  Smart_CI:
    runs-on: ubuntu-latest
    outputs:
      affected_components: "${{ steps.smart_ci.outputs.affected_components }}"
      changed_components: "${{ steps.smart_ci.outputs.changed_components }}"
      skip_workflow: "${{ steps.smart_ci.outputs.skip_workflow }}"
    steps:
      - name: checkout action
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        timeout-minutes: 15
        with:
          sparse-checkout: .github/actions/smart-ci

      - name: Get affected components
        id: smart_ci
        uses: ./.github/actions/smart-ci
        with:
          repository: ${{ github.repository }}
          pr: ${{ github.event.number }}
          commit_sha: ${{ github.sha }}
          ref_name: ${{ github.ref_name }}
          component_pattern: "category: (.*)"
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          skip_when_only_listed_labels_set: 'docs'
          skip_when_only_listed_files_changed: '*.md,*.rst,*.png,*.jpg,*.svg,*/layer_tests_summary/*,*/conformance/*'

      - name: Show affected components
        run: |
          echo "${{ toJSON(steps.smart_ci.outputs.affected_components) }}"
        shell: bash

  Docker:
    needs: Smart_CI
    runs-on: aks-linux-4-cores-8gb-arm-docker-build-staging
    container:
      image: openvinogithubactions.azurecr.io/docker_build:0.2
      volumes:
        - /mount:/mount
    outputs:
      images: "${{ steps.handle_docker.outputs.images && steps.handle_docker.outputs.images || steps.mock_image.outputs.images }}"
    steps:
      - name: Set mock output images if pipeline should be skipped
        if: ${{ needs.smart_ci.outputs.skip_workflow == 'True' }}
        id: mock_image
        run: echo "images={\"ov_test\":{\"debian_10_arm\":\"mock\"},\"ov_build\":{\"debian_10_arm\":\"mock\"}}" >> "$GITHUB_OUTPUT"

      - name: Checkout
        if: ${{ needs.smart_ci.outputs.skip_workflow != 'True' }}
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        timeout-minutes: 15

      - uses: ./.github/actions/handle_docker
        if: ${{ needs.smart_ci.outputs.skip_workflow != 'True' }}
        id: handle_docker
        with:
          images: |
            ov_build/debian_10_arm
            ov_test/debian_10_arm
          registry: 'openvinogithubactions.azurecr.io'
          dockerfiles_root_dir: '.github/dockerfiles'
          changed_components: ${{ needs.smart_ci.outputs.changed_components }}

  Build:
    needs: [Smart_CI, Docker]
    if: "!needs.smart_ci.outputs.skip_workflow"
    uses: ./.github/workflows/job_build_linux.yml
    with:
      runner: 'aks-linux-16-cores-32gb-arm-staging'
      image: ${{ fromJSON(needs.docker.outputs.images).ov_build.debian_10_arm }}
      affected-components: ${{ needs.smart_ci.outputs.affected_components }}
      event-name: ${{ github.event_name }}
      os: 'debian_10'
      arch: 'arm'
      build-js: false
      build-debian-packages: false
      build-contrib: false
      build-rpm-packages: false
      build-additional-python-packages: true
      target-branch: ${{ inputs.target-branch }}
      cmake-options: >-
        -DTHREADS_PTHREAD_ARG=-pthread
        -DCMAKE_COMPILE_WARNING_AS_ERROR=OFF
        -DCMAKE_BUILD_TYPE=Release
        -DENABLE_STRICT_DEPENDENCIES=OFF
        -DENABLE_CPPLINT=OFF
        -DENABLE_NCC_STYLE=OFF
        -DCMAKE_VERBOSE_MAKEFILE=ON
        -DENABLE_CONFORMANCE_PGQL=ON
        -DENABLE_LTO=ON
        -DENABLE_TESTS=ON
        -DENABLE_PYTHON=OFF
        -DCMAKE_TOOLCHAIN_FILE=cmake/arm.toolchain.cmake

  CXX_Unit_Tests:
    name: C++ unit tests
    needs: [ Docker, Build, Smart_CI ]
    uses: ./.github/workflows/job_cxx_unit_tests.yml
    with:
      runner: 'aks-linux-8-cores-16gb-arm-staging'
      image: ${{ fromJSON(needs.docker.outputs.images).ov_test.debian_10_arm }}
      affected-components: ${{ needs.smart_ci.outputs.affected_components }}
      os: 'debian_10'

  CPU_Functional_Tests:
    name: CPU functional tests
    if: fromJSON(needs.smart_ci.outputs.affected_components).CPU.test
    needs: [ Docker, Build, Smart_CI ]
    uses: ./.github/workflows/job_cpu_functional_tests.yml
    with:
      # Additional investigation needed why CPU functional tests are failing on v6 VM size's version,
      # so leave it as it is for now
      runner: 'aks-linux-16-cores-arm-staging'
      image: ${{ fromJSON(needs.docker.outputs.images).ov_test.debian_10_arm }}
      python-version: '3.7'
      scope: ${{ github.event_name == 'workflow_dispatch' && 'nightly' || 'smoke' }}

  Overall_Status:
    name: ci/gha_overall_status_debian_10_arm
    needs: [Smart_CI, Build, CXX_Unit_Tests]
    if: ${{ always() }}
    runs-on: ubuntu-latest
    steps:
      - name: Check status of all jobs
        if: >-
          ${{
            contains(needs.*.result, 'failure') ||
            contains(needs.*.result, 'cancelled')
          }}
        run: exit 1
