name: PyTorch Models tests

on:
  workflow_call:
    inputs:
      runner:
        description: 'Machine on which the tests would run'
        type: string
        required: true
      image:
        description: 'Docker image to use for the job'
        type: string
        required: false
        default: null
      model_scope:
        description: 'Scope of models for testing.'
        type: string
        required: true

permissions: read-all

env:
  HF_HUB_CACHE_LIN: /mount/caches/huggingface
  HF_HUB_CACHE_WIN: "C:\\mount\\caches\\huggingface"

jobs:
  PyTorch_Models_Tests:
    name: PyTorch Models tests
    timeout-minutes: ${{ inputs.model_scope == 'precommit' && 90 || 400 }}
    runs-on: ${{ inputs.runner }}
    container:
      image: ${{ inputs.image }}
      volumes:
        - /mount:/mount
        - ${{ github.workspace }}:${{ github.workspace }} # Needed as ${{ github.workspace }} is not working correctly when using Docker
      options: "-e HF_TOKEN" # Needed for HuggingFace cache authentication
    defaults:
      run:
        shell: bash
    env:
      DEBIAN_FRONTEND: noninteractive # to prevent apt-get from waiting user input
      INSTALL_DIR: ${{ github.workspace }}/install
      INSTALL_TEST_DIR: ${{ github.workspace }}/install/tests
      MODEL_HUB_TESTS_INSTALL_DIR: ${{ github.workspace }}/install/tests/model_hub_tests
      USE_SYSTEM_CACHE: False # Using remote HuggingFace cache
      HF_HUB_VERBOSITY: debug
      TRANSFORMERS_VERBOSITY: debug
      UV_SYSTEM_PYTHON: "1"  # Allow uv to work with system Python in containers
    steps:
      - name: Fetch setup_python and install wheels actions
        uses: ababushk/checkout@9bec46a94a83db82acd4303e7627d88db71402a5 # cherry_pick_retries
        timeout-minutes: 15
        with:
          sparse-checkout: |
            .github/actions
          sparse-checkout-cone-mode: false
          submodules: 'false'

      - name: Download OpenVINO artifacts (wheels)
        uses: akashchi/download-artifact@d59a9c15fec3fdb7c9adf09464124d00f9c11415
        with:
          name: openvino_wheels
          path: ${{ env.INSTALL_DIR }}

      - name: Download OpenVINO artifacts (tests)
        uses: akashchi/download-artifact@d59a9c15fec3fdb7c9adf09464124d00f9c11415
        with:
          name: openvino_tests
          path: ${{ env.INSTALL_DIR }}

      - name: Download OpenVINO artifacts (tokenizers_wheel)
        uses: akashchi/download-artifact@d59a9c15fec3fdb7c9adf09464124d00f9c11415
        with:
          name: openvino_tokenizers_wheel
          path: ${{ env.INSTALL_DIR }}

      - name: Setup Variables
        run: |
          echo "HF_HUB_CACHE=${{ runner.os == 'Linux' && env.HF_HUB_CACHE_LIN || env.HF_HUB_CACHE_WIN }}" >> "$GITHUB_ENV"
          echo "HUGGINGFACE_HUB_CACHE=${{ runner.os == 'Linux' && env.HF_HUB_CACHE_LIN || env.HF_HUB_CACHE_WIN }}" >> "$GITHUB_ENV"

      - name: Extract OpenVINO artifacts
        run: pigz -dc openvino_tests.tar.gz | tar -xf - -v
        working-directory: ${{ env.INSTALL_DIR }}

      - name: Setup Python 3.11
        uses: ./.github/actions/setup_python
        with:
          version: '3.11'
          should-setup-pip-paths: 'false'
          self-hosted-runner: ${{ contains(inputs.runner, 'aks') }}

      - name: Install OpenVINO Python wheels
        uses: ./.github/actions/install_ov_wheels
        with:
          wheels-dir-path: ${{ env.INSTALL_DIR }}
          wheels-to-install: 'openvino openvino_tokenizers'

      - name: Install uv
        run: python3 -m pip install uv

      - name: Install PyTorch tests requirements
        run: |
          uv pip install -r ${MODEL_HUB_TESTS_INSTALL_DIR}/pytorch/envs/locks/base.lock \
            --extra-index-url https://download.pytorch.org/whl/cpu \
            --index-strategy unsafe-best-match \
            --python "$(which python3)"
        env:
          CPLUS_INCLUDE_PATH: ${{ env.Python_ROOT_DIR }}/include/python${{ env.PYTHON_VERSION }}

      - name: Install deps for Timm/Torchvision/Edsr tests
        if: ${{ inputs.model_scope == 'precommit' || inputs.model_scope == 'nightly_scope1' }}
        run: |
          uv pip install -r ${MODEL_HUB_TESTS_INSTALL_DIR}/pytorch/envs/locks/timm_torchvision.lock \
            --extra-index-url https://download.pytorch.org/whl/cpu \
            --index-strategy unsafe-best-match \
            --python "$(which python3)"

      - name: PyTorch Models Tests Timm and Torchvision
        if: ${{ inputs.model_scope == 'precommit' || inputs.model_scope == 'nightly_scope1' }}
        run: |
          export PYTHONPATH=${MODEL_HUB_TESTS_INSTALL_DIR}:$PYTHONPATH
          python3 -m pytest ${MODEL_HUB_TESTS_INSTALL_DIR}/pytorch/ -m ${TYPE} --html=${INSTALL_TEST_DIR}/TEST-torch_model_timm_tv_"${TYPE}"_tests.html --self-contained-html -v -n 4 -k "TestTimmConvertModel or TestTorchHubConvertModel or TestEdsrConvertModel"
        env:
          TYPE: ${{ inputs.model_scope == 'precommit' && 'precommit' || 'nightly' }}
          TEST_DEVICE: CPU
          OP_REPORT_FILE: ${{ env.INSTALL_TEST_DIR }}/TEST-torch_unsupported_ops.log

      - name: Install deps for HF Transformers/LLM and other model tests
        if: ${{ inputs.model_scope == 'precommit' || inputs.model_scope == 'nightly_scope2' }}
        run: |
          uv pip install -r ${MODEL_HUB_TESTS_INSTALL_DIR}/pytorch/envs/locks/hf_models.lock \
            --extra-index-url https://download.pytorch.org/whl/cpu \
            --index-strategy unsafe-best-match \
            --python "$(which python3)"

      - name: PyTorch Models Tests Not Timm or Torchvision
        if: ${{ inputs.model_scope == 'precommit' || inputs.model_scope == 'nightly_scope2' }}
        run: |
          export PYTHONPATH=${MODEL_HUB_TESTS_INSTALL_DIR}:$PYTHONPATH
          python3 -m pytest ${MODEL_HUB_TESTS_INSTALL_DIR}/pytorch -m ${TYPE} --html=${INSTALL_TEST_DIR}/TEST-torch_model_"${TYPE}"_tests.html --self-contained-html -v -k "not (TestTimmConvertModel or TestTorchHubConvertModel or TestEdsrConvertModel or TestLLMModel)"
        env:
          TYPE: ${{ inputs.model_scope == 'precommit' && 'precommit' || 'nightly' }}
          TEST_DEVICE: CPU
          OP_REPORT_FILE: ${{ env.INSTALL_TEST_DIR }}/TEST-torch_unsupported_ops.log

      - name: Install deps for LLM model tests
        if: ${{ inputs.model_scope == 'precommit' || inputs.model_scope == 'nightly_scope2' }}
        run: |
          uv pip install -r ${MODEL_HUB_TESTS_INSTALL_DIR}/pytorch/envs/locks/llm.lock \
            --extra-index-url https://download.pytorch.org/whl/cpu \
            --index-strategy unsafe-best-match \
            --python "$(which python3)"

      - name: PyTorch LLM Model Tests
        if: ${{ inputs.model_scope == 'precommit' || inputs.model_scope == 'nightly_scope2' }}
        run: |
          export PYTHONPATH=${MODEL_HUB_TESTS_INSTALL_DIR}:$PYTHONPATH
          python3 -m pytest ${MODEL_HUB_TESTS_INSTALL_DIR}/pytorch/test_llm.py -m ${TYPE} --html=${INSTALL_TEST_DIR}/TEST-torch_model_llm_"${TYPE}"_tests.html --self-contained-html -v
        env:
          TYPE: ${{ inputs.model_scope == 'precommit' && 'precommit' || 'nightly' }}
          TEST_DEVICE: CPU
          OP_REPORT_FILE: ${{ env.INSTALL_TEST_DIR }}/TEST-torch_unsupported_ops.log

      - name: Install deps for transformation tests
        if: ${{ inputs.model_scope == 'precommit' }}
        run: |
          uv pip install -r ${MODEL_HUB_TESTS_INSTALL_DIR}/pytorch/envs/locks/hf_models.lock \
            --extra-index-url https://download.pytorch.org/whl/cpu \
            --index-strategy unsafe-best-match \
            --python "$(which python3)"

      - name: PagedAttention Test
        if: ${{ inputs.model_scope == 'precommit' }}
        run: |
          export PYTHONPATH=${MODEL_HUB_TESTS_INSTALL_DIR}:$PYTHONPATH
          python3 -m pytest ${MODEL_HUB_TESTS_INSTALL_DIR}/transformation_tests/test_pa_transformation.py -m precommit --html=${INSTALL_TEST_DIR}/TEST-torch_pagedattention_tests.html --self-contained-html -vvv -s --tb=short -n 2
        env:
          TEST_DEVICE: CPU

      - name: RoPE Test
        if: ${{ inputs.model_scope == 'precommit' }}
        run: |
          export PYTHONPATH=${MODEL_HUB_TESTS_INSTALL_DIR}:$PYTHONPATH
          python3 -m pytest ${MODEL_HUB_TESTS_INSTALL_DIR}/transformation_tests/test_transformations.py -m precommit --html=${INSTALL_TEST_DIR}/TEST-torch_rope_tests.html --self-contained-html -v --tb=short -n 2
        env:
          TEST_DEVICE: CPU

      - name: StatefulToStateless Test
        if: ${{ inputs.model_scope == 'precommit' }}
        run: |
          export PYTHONPATH=${MODEL_HUB_TESTS_INSTALL_DIR}:$PYTHONPATH
          python3 -m pytest ${MODEL_HUB_TESTS_INSTALL_DIR}/transformation_tests/test_stateful_to_stateless_transformation.py -m precommit --html=${INSTALL_TEST_DIR}/TEST-torch_stateful_to_stateless_tests.html --self-contained-html -v --tb=short
        env:
          TEST_DEVICE: CPU

      - name: TorchFX GPTQ Pattern Test
        if: ${{ inputs.model_scope == 'precommit' }}
        run: |
          export PYTHONPATH=${MODEL_HUB_TESTS_INSTALL_DIR}:$PYTHONPATH
          uv pip install -r ${MODEL_HUB_TESTS_INSTALL_DIR}/pytorch/envs/locks/compile_gptq.lock \
            --extra-index-url https://download.pytorch.org/whl/cpu \
            --index-strategy unsafe-best-match \
            --python "$(which python3)"
          python3 -m pytest ${MODEL_HUB_TESTS_INSTALL_DIR}/transformation_tests/test_gptq_torchfx_transformations.py -m precommit --html=${INSTALL_TEST_DIR}/TEST-torch_gptqpattern_tests.html --self-contained-html -v --tb=short
        env:
          TEST_DEVICE: CPU

      - name: MoE Fusion Test
        if: ${{ inputs.model_scope == 'precommit' }}
        run: |
          export PYTHONPATH=${MODEL_HUB_TESTS_INSTALL_DIR}:$PYTHONPATH
          uv pip install -r ${MODEL_HUB_TESTS_INSTALL_DIR}/pytorch/envs/locks/moe.lock \
            --extra-index-url https://download.pytorch.org/whl/cpu \
            --index-strategy unsafe-best-match \
            --python "$(which python3)"
          python3 -m pytest ${MODEL_HUB_TESTS_INSTALL_DIR}/transformation_tests/test_moe_transformation.py -m precommit --html=${INSTALL_TEST_DIR}/TEST-torch_moe_tests.html --self-contained-html -vvv -s --tb=short -n 2
        env:
          TEST_DEVICE: CPU

      - name: Reformat unsupported ops file
        if: ${{ inputs.model_scope != 'precommit' && !cancelled()}}
        run: |
          python3 ${MODEL_HUB_TESTS_INSTALL_DIR}/pytorch/scripts/process_op_report.py ${INSTALL_TEST_DIR}/TEST-torch_unsupported_ops.log

      - name: Available storage after tests
        run: |
          echo "Available storage:"
          df -h

      - name: Upload Test Results
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        if: ${{ !cancelled() }}
        with:
          name: test-results-torch-models-${{ inputs.model_scope }}
          path: |
            ${{ env.INSTALL_TEST_DIR }}/TEST-torch*
          if-no-files-found: 'error'
