on:
  workflow_call:
    inputs:
      runner:
        description: 'Machine on which the tests would run'
        type: string
        required: true
      affected-components:
        description: 'Components that are affected by changes in the commit defined by the Smart CI Action'
        type: string
        required: true
      build-type:
        description: 'OpenVINO build type, e.g., "Release"'
        type: string
        required: true
      target-branch:
        description: 'Target branch for the build'
        type: string
        required: true
      cmake-options:
        description: 'A string of options passed to CMake'
        type: string
        required: true
      build-additional-python-wheels:
        description: 'Whether to build additional, i.e., non-system Python wheels. Should have Python 3.9-3.12 installed'
        type: boolean
        required: false
        default: false

permissions: read-all

env:
  PIP_CACHE_PATH: "C:\\mount\\caches\\pip\\win"
  PYTHON_VERSION: '3.11'
  NODEJS_VERSION: '21'

jobs:
  Build:
    timeout-minutes: 180
    defaults:
      run:
        shell: pwsh
    runs-on: ${{ inputs.runner }}
    env:
      CMAKE_BUILD_TYPE: ${{ inputs.build-type }}
      CMAKE_CXX_COMPILER_LAUNCHER: ccache
      CMAKE_C_COMPILER_LAUNCHER: ccache
      CCACHE_REMOTE_DIR: C:\\mount\\caches\\ccache\\windows2022_x86_64_${{ inputs.build-type }}\\${{ inputs.target-branch }}
      CCACHE_DIR: ${{ github.workspace }}\\ccache
      CCACHE_MAXSIZE: 3G
      CCACHE_SLOPPINESS: pch_defines,time_macros
      OPENVINO_REPO: "${{ github.workspace }}\\openvino"
      OPENVINO_CONTRIB_REPO: "${{ github.workspace }}\\openvino_contrib"
      INSTALL_DIR: "${{ github.workspace }}\\openvino_install"
      INSTALL_DIR_JS: "${{ github.workspace }}\\openvino\\src\\bindings\\js\\node\\bin"
      INSTALL_TEST_DIR: "${{ github.workspace }}\\tests_install"
      INSTALL_WHEELS_DIR: "${{ github.workspace }}\\install\\wheels"
      INSTALL_DEV_PACKAGE: "${{ github.workspace }}\\install\\developer_package"
      INSTALL_PDB_DIR: "${{ github.workspace }}\\install_pdb"
      BUILD_DIR: "${{ github.workspace }}\\openvino_build"
      ARTIFACTS_SHARE: "C:\\mount\\build-artifacts"
      MANIFEST_PATH: "${{ github.workspace }}\\manifest.yml"
      PRODUCT_TYPE: 'public_windows_vs2022_${{ inputs.build-type }}'
    steps:
      - name: Clone OpenVINO
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        timeout-minutes: 15
        with:
          path: 'openvino'
          submodules: 'true'

      - name: Clone OpenVINO Contrib
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        timeout-minutes: 15
        with:
          repository: 'openvinotoolkit/openvino_contrib'
          path: 'openvino_contrib'
          ref: ${{ inputs.target-branch }}

      - name: Setup Python ${{ env.PYTHON_VERSION }}
        uses: ./openvino/.github/actions/setup_python
        with:
          version: ${{ env.PYTHON_VERSION }}
          pip-cache-path: ${{ env.PIP_CACHE_PATH }}
          should-setup-pip-paths: 'true'
          self-hosted-runner: 'true'
      
      - name: Setup NodeJS
        if: ${{ fromJSON(inputs.affected-components).JS_API }}
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: ${{ env.NODEJS_VERSION }}

      - name: Generate product manifest and set CI_BUILD_NUMBER & CI_BUILD_DEV_TAG
        id: create_manifest
        uses: ./openvino/.github/actions/create_manifest
        with:
          repos: |
            ${{ env.OPENVINO_REPO }}
            ${{ env.OPENVINO_CONTRIB_REPO }}
          product_type: ${{ env.PRODUCT_TYPE }}
          target_arch: 'x86_64'
          build_type: ${{ inputs.build-type }}
          save_to: ${{ env.MANIFEST_PATH }}
          trigger_repo_branch: ${{ inputs.target-branch }}

      #
      # Print system info
      #

      - name: System info
        uses: ./openvino/.github/actions/system_info

      #
      # Dependencies
      #

      - name: Install python dependencies
        run: |
          # For Python API: build and wheel packaging
          python3 -m pip install -r ${{ env.OPENVINO_REPO }}/src/bindings/python/wheel/requirements-dev.txt

          # For running ONNX frontend unit tests
          python3 -m pip install --force-reinstall -r ${{ env.OPENVINO_REPO }}/src/frontends/onnx/tests/requirements.txt

          # For running TensorFlow frontend unit tests
          python3 -m pip install -r ${{ env.OPENVINO_REPO }}/src/frontends/tensorflow/tests/requirements.txt

          # For running TensorFlow Lite frontend unit tests
          python3 -m pip install -r ${{ env.OPENVINO_REPO }}/src/frontends/tensorflow_lite/tests/requirements.txt

          # Disabled because of CVS-95904
          # For running Paddle frontend unit tests
          # python3 -m pip install -r ${{ env.OPENVINO_REPO }}/src/frontends/paddle/tests/requirements.txt

          # For getting rid of SSL issues during model downloading for unit tests
          python3 -m pip install certifi

      - name: Download and install ccache
        run: |
          Invoke-WebRequest -Uri 'https://github.com/ccache/ccache/releases/download/v4.9.1/ccache-4.9.1-windows-x86_64.zip' -OutFile 'ccache.zip'
          Expand-Archive -Path 'ccache.zip' -DestinationPath 'C:\temp\ccache'
          Move-Item -Path 'C:\temp\ccache\*' -Destination 'C:\ccache'
          Add-Content -Path $env:GITHUB_PATH -Value "C:\ccache"

      - name: Install build dependencies
        run: |
          Invoke-WebRequest https://github.com/ninja-build/ninja/releases/download/v1.11.1/ninja-win.zip -OutFile ninja-win.zip -MaximumRetryCount 10
          Expand-Archive -Force ninja-win.zip
          # Add it to the GitHub Path so it would be available in the subsequent steps
          Add-Content -Path $env:GITHUB_PATH -Value "${{ github.workspace }}/ninja-win"

      #
      # Build
      #

      - name: Setup ccache
        uses: ./openvino/.github/actions/cache
        with:
          # save-always: ${{ github.event_name == 'push' && 'true' || 'false' }}
          save-always: 'true' # TODO: remove before merging 
          cleanup-always: ${{ github.event_name == 'push' && 'true' || 'false' }}
          cache-path: ${{ env.CCACHE_REMOTE_DIR }}
          path: ${{ env.CCACHE_DIR }}
          key: ${{ runner.os }}-${{ runner.arch }}-ccache-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-${{ runner.arch }}-ccache

      - name: Configure Developer Command Prompt for Microsoft Visual C++
        uses: ilammy/msvc-dev-cmd@0b201ec74fa43914dc39ae48a89fd1d8cb592756 # v1.13.0
        with:
          toolset: 14.42 # v2022

      - name: Set SSL_CERT_FILE for model downloading for unit tests
        run: echo SSL_CERT_FILE=$(python3 -m certifi) >> $env:GITHUB_ENV

      - name: CMake configure
        env:
          CMAKE_OPTIONS: ${{ inputs.cmake-options }}
        run: |
          $cmakeOptions = "$env:CMAKE_OPTIONS"
          $splitCmakeOptions = $cmakeOptions.Split(" ")
          $cmakeCommand = "cmake $splitCmakeOptions -S ${{ env.OPENVINO_REPO }} -B ${{ env.BUILD_DIR }}"
          Invoke-Expression $cmakeCommand

      - name: Clean ccache stats
        run: '& ccache --zero-stats'

      - name: Cmake build - OpenVINO
        run: cmake --build ${{ env.BUILD_DIR }} --config ${{ env.CMAKE_BUILD_TYPE }} --parallel $ENV:NUMBER_OF_PROCESSORS --verbose

      - name: Show ccache stats
        run: '& ccache --show-stats'

      - name: Cmake install - OpenVINO
        run: |
          cmake --install ${{ env.BUILD_DIR }} --config ${{ env.CMAKE_BUILD_TYPE }} --prefix ${{ env.INSTALL_DIR }}
          cmake --install ${{ env.BUILD_DIR }} --config ${{ env.CMAKE_BUILD_TYPE }} --prefix ${{ env.INSTALL_TEST_DIR }} --component tests
          cmake --install ${{ env.BUILD_DIR }} --config ${{ env.CMAKE_BUILD_TYPE }} --prefix ${{ env.INSTALL_PDB_DIR }} --component pdb
          cmake --install ${{ env.BUILD_DIR }} --config ${{ env.CMAKE_BUILD_TYPE }} --prefix ${{ env.INSTALL_DEV_PACKAGE }} --component developer_package

      # Setup additional Python versions for wheels building
      - name: Setup Python 3.9
        if: ${{ inputs.build-additional-python-wheels }}
        uses: ./openvino/.github/actions/setup_python
        with:
          version: '3.9'
          pip-cache-path: ${{ env.PIP_CACHE_PATH }}
          should-setup-pip-paths: 'true'
          self-hosted-runner: 'true'

      # Setup additional Python versions for wheels building
      - name: Setup Python 3.10
        if: ${{ inputs.build-additional-python-wheels }}
        uses: ./openvino/.github/actions/setup_python
        with:
          version: '3.10'
          pip-cache-path: ${{ env.PIP_CACHE_PATH }}
          should-setup-pip-paths: 'true'
          self-hosted-runner: 'true'

      # Setup additional Python versions for wheels building
      - name: Setup Python 3.12
        if: ${{ inputs.build-additional-python-wheels }}
        uses: ./openvino/.github/actions/setup_python
        with:
          version: '3.12'
          pip-cache-path: ${{ env.PIP_CACHE_PATH }}
          should-setup-pip-paths: 'true'
          self-hosted-runner: 'true'

      # Setup additional Python versions for wheels building
      - name: Setup Python 3.13
        if: ${{ inputs.build-additional-python-wheels }}
        uses: ./openvino/.github/actions/setup_python
        with:
          version: '3.13'
          pip-cache-path: ${{ env.PIP_CACHE_PATH }}
          should-setup-pip-paths: 'true'
          self-hosted-runner: 'true'

      - name: Build additional Python wheels
        if: ${{ inputs.build-additional-python-wheels }}
        run: |
          $pyVersions = '3.9', '3.10', '3.11', '3.12', '3.13'
          foreach ($pyVersion in $pyVersions) {
            $pyBuildDir = "${{ github.workspace }}/py$pyVersion"
            New-Item -ItemType Directory -Path "$pyBuildDir" -Force

            $pythonCommand = "py -$pyVersion -c `"import sys; print(f'{sys.executable}')`""
            $pythonExecutablePath = & cmd /c $pythonCommand

            $pipVersion = & $pythonExecutablePath -c "import pip; print(pip.__version__)"
            Write-Host "Using pip version: $pipVersion for $pyVersion"
            $env:PIP_CACHE_DIR="${{ env.PIP_CACHE_PATH }}/$pipVersion"

            & $pythonExecutablePath -m pip install -r ${{ env.OPENVINO_REPO }}/src/bindings/python/wheel/requirements-dev.txt

            cmake -DPython3_EXECUTABLE="$pythonExecutablePath" -DENABLE_PYTHON=ON -DENABLE_WHEEL=ON -DOpenVINODeveloperPackage_DIR=${{ env.BUILD_DIR }} -S ${{ env.OPENVINO_REPO }}/src/bindings/python -B "$pyBuildDir" &&
            cmake --build "$pyBuildDir" --parallel $ENV:NUMBER_OF_PROCESSORS --target ie_wheel --config ${{ env.CMAKE_BUILD_TYPE }} &&
            cmake --install "$pyBuildDir" --config ${{ env.CMAKE_BUILD_TYPE }} --prefix ${{ env.INSTALL_WHEELS_DIR }} --component python_wheels &&
            cmake --install "$pyBuildDir" --config ${{ env.CMAKE_BUILD_TYPE }} --prefix ${{ env.INSTALL_DIR }} --component pyopenvino_python$pyVersion
            if ($LASTEXITCODE -ne 0) {
              Write-Host "Failed to build Python wheels for Python $pyVersion"
              exit 1
            }
          }
        env:
          CMAKE_GENERATOR: 'Ninja' # Ninja is the only Windows native generator supported by ccache

      - name: Pack Artifacts
        run: |
          $file = Get-ChildItem -Path "${{ env.INSTALL_DIR }}"
          $compress = @{
            Path = $file
            CompressionLevel = "Optimal"
            DestinationPath = "${{ env.BUILD_DIR }}/openvino_package.zip"
          }
          Compress-Archive @compress

          $file=Get-ChildItem -Path "${{ env.INSTALL_DEV_PACKAGE }}/developer_package"
          $compress = @{
            Path = $file
            CompressionLevel = "Optimal"
            DestinationPath = "${{ env.BUILD_DIR }}/developer_package.zip"
          }
          Compress-Archive @compress
          
          $file=Get-ChildItem -Path "${{ env.INSTALL_TEST_DIR }}"
          $compress = @{
            Path = $file
            CompressionLevel = "Optimal"
            DestinationPath = "${{ env.BUILD_DIR }}/openvino_tests.zip"
          }
          Compress-Archive @compress

          $file=Get-ChildItem -Path "${{ env.INSTALL_PDB_DIR }}"
          $compress = @{
            Path = $file
            CompressionLevel = "Optimal"
            DestinationPath = "${{ env.BUILD_DIR }}/openvino_pdb.zip"
          }
          Compress-Archive @compress

      # Setup Python 3.11 as the default one
      - name: Setup Python ${{ env.PYTHON_VERSION }}
        uses: ./openvino/.github/actions/setup_python
        with:
          version: ${{ env.PYTHON_VERSION }}
          pip-cache-path: ${{ env.PIP_CACHE_PATH }}
          should-setup-pip-paths: 'true'
          self-hosted-runner: 'true'

      - name: CMake configure, build and install - OpenVINO JS API
        if: ${{ fromJSON(inputs.affected-components).JS_API }}
        run: |
          cmake -UTBB* -S ${{ env.OPENVINO_REPO }} -B ${{ env.BUILD_DIR }} `
                -DCPACK_GENERATOR=NPM `
                -DENABLE_SYSTEM_TBB=OFF `
                -DENABLE_WHEEL=OFF
          cmake --build ${{ env.BUILD_DIR }} --parallel $ENV:NUMBER_OF_PROCESSORS
          cmake --install ${{ env.BUILD_DIR }} --config ${{ env.CMAKE_BUILD_TYPE }} --prefix ${{ env.INSTALL_DIR_JS }}

      - name: Pack JS Artifacts
        if: ${{ fromJSON(inputs.affected-components).JS_API }}
        run: |
          $file = Get-ChildItem -Path "${{ env.INSTALL_DIR_JS }}"
          $compress = @{
            Path = $file
            CompressionLevel = "Optimal"
            DestinationPath = "${{ env.BUILD_DIR }}/openvino_js_package.zip"
          }
          Compress-Archive @compress
      
      - name: Pack openvino_node_npm_package
        if: ${{ fromJSON(inputs.affected-components).JS_API }}
        run: |
          npm i
          npm pack
          $file1 = Get-ChildItem -Path . -Filter bin
          $file2 = Get-ChildItem -Path . -Filter openvino-node-*
          $compress = @{
            Path = $file1, $file2
            CompressionLevel = "Optimal"
            DestinationPath = "${{ env.BUILD_DIR }}/openvino_node_npm_package.zip"
          }
          Compress-Archive @compress
        working-directory: ${{ env.OPENVINO_REPO }}/src/bindings/js/node

      - name: Cmake & Build - OpenVINO Contrib
        run: |
          cmake -DCUSTOM_OPERATIONS="calculate_grid;complex_mul;fft;grid_sample;sparse_conv;sparse_conv_transpose" -S ${{ env.OPENVINO_REPO }} -B ${{ env.BUILD_DIR }} `
                -DOPENVINO_EXTRA_MODULES="${{ env.OPENVINO_CONTRIB_REPO }}/modules/custom_operations;${{ env.OPENVINO_CONTRIB_REPO }}/modules/java_api" `
                -DENABLE_WHEEL=OFF
          cmake --build ${{ env.BUILD_DIR }} --parallel $ENV:NUMBER_OF_PROCESSORS

      #
      # Upload build artifacts and logs
      #

      - name: Upload OpenVINO package
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: openvino_package
          path: ${{ env.BUILD_DIR }}/openvino_package.zip
          if-no-files-found: 'error'

      - name: Upload OpenVINO wheels
        if: ${{ inputs.build-type != 'Debug' }}
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: openvino_wheels
          path: ${{ env.INSTALL_WHEELS_DIR }}/wheels/*.whl
          if-no-files-found: 'error'

      - name: Upload OpenVINO tests package
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: openvino_tests
          path: ${{ env.BUILD_DIR }}/openvino_tests.zip
          if-no-files-found: 'error'
          
      - name: Upload OpenVINO developer package
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: openvino_developer_package
          path: ${{ env.BUILD_DIR }}/developer_package.zip
          if-no-files-found: 'error'

      - name: Upload OpenVINO PDB package
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: openvino_pdb
          path: ${{ env.BUILD_DIR }}/openvino_pdb.zip
          if-no-files-found: 'error'

      - name: Upload OpenVINO js package
        if: ${{ fromJSON(inputs.affected-components).JS_API }}
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: openvino_js_package
          path: ${{ env.BUILD_DIR }}/openvino_js_package.zip
          if-no-files-found: 'error'

      - name: Upload openvino-node NPM package
        if: ${{ fromJSON(inputs.affected-components).JS_API }}
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: openvino_node_npm_package
          path: ${{ env.BUILD_DIR }}/openvino_node_npm_package.zip
          if-no-files-found: 'error'

      - name: Store artifacts to a shared drive
        id: store_artifacts
        if: ${{ inputs.event-name != 'schedule' }}
        uses: ./openvino/.github/actions/store_artifacts
        with:
          artifacts: |
            ${{ env.BUILD_DIR }}/openvino_package.zip
            ${{ env.BUILD_DIR }}/developer_package.zip
            ${{ env.BUILD_DIR }}/openvino_tests.zip
            ${{ env.MANIFEST_PATH }}
            ${{ fromJSON(inputs.affected-components).JS_API && format('{0}/openvino_js_package.zip', env.BUILD_DIR) || '' }}
            ${{ fromJSON(inputs.affected-components).JS_API && format('{0}/openvino_node_npm_package.zip', env.BUILD_DIR) || '' }}
            ${{ env.STORE_WHEELS == 'true' && format('{0}/wheels', env.INSTALL_WHEELS_DIR) || '' }}
          storage_dir: ${{ env.PRODUCT_TYPE }}
          storage_root: ${{ env.ARTIFACTS_SHARE }}
          branch_name: ${{ inputs.target-branch }}
        env:
          STORE_WHEELS: ${{ inputs.build-type != 'Debug' }}
