name: OpenVINO JS API

on:
  workflow_call:
    inputs:
      runner:
        description: 'Machine on which the tests would run'
        type: string
        required: true
      container:
        description: 'JSON to be converted to the value of the "container" configuration for the job'
        type: string
        required: false
        default: '{"image": null}'

permissions: read-all

jobs:
  JS_API:
    name: OpenVINO JS API
    timeout-minutes: 10
    runs-on: ${{ inputs.runner }}
    container: ${{ fromJSON(inputs.container) }}
    defaults:
      run:
        shell: bash
    env:
      DEBIAN_FRONTEND: noninteractive # to prevent apt-get from waiting user input
      OPENVINO_JS_DIR: ${{ github.workspace }}/openvino/src/bindings/js
      OPENVINO_JS_LIBS_DIR: ${{ github.workspace }}/openvino/src/bindings/js/node/bin
      NODE_VERSION: 21
      DISPLAY: ':99'
    steps:
      - name: Fetch OpenVINO JS sources
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        timeout-minutes: 15
        with:
          sparse-checkout: |
            src/bindings/js
          path: 'openvino'
      
      - name: Install OpenVINO dependencies (mac)
        if: runner.os == 'macOS'
        run: brew install pigz

      # Needed as ${{ github.workspace }} is not working correctly when using Docker
      - name: Setup Variables
        run: |
          echo "OPENVINO_JS_DIR=$GITHUB_WORKSPACE/openvino/src/bindings/js" >> "$GITHUB_ENV"
          echo "OPENVINO_JS_LIBS_DIR=$GITHUB_WORKSPACE/openvino/src/bindings/js/node/bin" >> "$GITHUB_ENV"

      - name: Download OpenVINO artifacts (JS)
        uses: actions/download-artifact@cc203385981b70ca67e1cc392babf9cc229d5806 # v4.1.9
        with:
          pattern: openvino_[js]*
          path: ${{ env.OPENVINO_JS_LIBS_DIR }}
          merge-multiple: true

      - name: Extract OpenVINO packages
        run: pigz -dc openvino_js_package.tar.gz | tar -xf - -C ${OPENVINO_JS_LIBS_DIR}
        working-directory: ${{ env.OPENVINO_JS_LIBS_DIR }}

      - name: Setup Node ${{ env.NODE_VERSION }}
        if: runner.os != 'Linux' # Node is already installed in the Docker image
        uses: actions/setup-node@1d0ff469b7ec7b3cb9d8673fde0c81c44821de2a # v4.2.0
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Configure OpenVINO JS API
        working-directory: ${{ env.OPENVINO_JS_DIR }}/node
        run: npm i

      - name: Test OpenVINO JS API
        working-directory: ${{ env.OPENVINO_JS_DIR }}/node
        run: npm run test

      - name: Install electron deps and run Xvfb
        if: runner.os == 'Linux'
        run: |
          apt-get update && apt-get install -y xvfb libgtk-3-0 libgbm1
          Xvfb "$DISPLAY" &

      - name: E2E of openvino-node package
        working-directory: ${{ env.OPENVINO_JS_DIR }}/node
        run: npm run test:e2e
