name: Manylinux 2014
on:
  workflow_dispatch:
  pull_request:
  merge_group:
  push:
    branches:
      - master
      - 'releases/**'

concurrency:
  # github.ref is not unique in post-commit
  group: ${{ github.event_name == 'push' && github.run_id || github.ref }}-manylinux-2014
  cancel-in-progress: true

permissions: read-all

env:
  PIP_CACHE_PATH: /mount/caches/pip/linux

jobs:
  Smart_CI:
    runs-on: ubuntu-latest
    outputs:
      affected_components: "${{ steps.smart_ci.outputs.affected_components }}"
      changed_components: "${{ steps.smart_ci.outputs.changed_components }}"
      skip_workflow: "${{ steps.smart_ci.outputs.skip_workflow }}"
    steps:
      - name: checkout action
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          sparse-checkout: .github/actions/smart-ci

      - name: Get affected components
        id: smart_ci
        uses: ./.github/actions/smart-ci
        with:
          repository: ${{ github.repository }}
          pr: ${{ github.event.number }}
          commit_sha: ${{ github.sha }}
          ref_name: ${{ github.ref_name }}
          component_pattern: "category: (.*)"
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          skip_when_only_listed_labels_set: 'docs'
          skip_when_only_listed_files_changed: '*.md,*.rst,*.png,*.jpg,*.svg'

      - name: Show affected components
        run: |
          echo "${{ toJSON(steps.smart_ci.outputs.affected_components) }}"
        shell: bash

  Docker:
    needs: Smart_CI
    if: "!needs.smart_ci.outputs.skip_workflow"
    runs-on: aks-linux-4-cores-16gb-docker-build
    container:
      image: openvinogithubactions.azurecr.io/docker_build:0.2
      volumes:
        - /mount:/mount
    outputs:
      images: "${{ steps.handle_docker.outputs.images }}"
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - uses: ./.github/actions/handle_docker
        id: handle_docker
        with:
          images: |
            ov_build/ubuntu_22_04_x64_docker
            ov_build/manylinux2014_x86_64
            ov_test/ubuntu_20_04_x64_py313
            ov_test/ubuntu_22_04_x64
            ov_test/ubuntu_24_04_x64
            ov_test/fedora_33
            ov_test/debian_10_py310
          registry: 'openvinogithubactions.azurecr.io'
          dockerfiles_root_dir: '.github/dockerfiles'
          changed_components: ${{ needs.smart_ci.outputs.changed_components }}
          
  Build:
    needs: [Docker]
    timeout-minutes: 120
    defaults:
      run:
        shell: bash
    runs-on: aks-linux-16-cores-32gb-manylinux
    if: ${{ github.repository_owner == 'openvinotoolkit' }}
    container:
      image: ${{ fromJSON(needs.docker.outputs.images).ov_build.ubuntu_22_04_x64_docker }}
      volumes:
        - /mount:/mount
      options: -e SCCACHE_AZURE_BLOB_CONTAINER -e SCCACHE_AZURE_CONNECTION_STRING -e DOCKER_CONFIG -v ${{ github.workspace }}:${{ github.workspace }}
    env:
      CMAKE_BUILD_TYPE: 'Release'
      ARCH: 'x86_64'
      OPENVINO_REPO: ${{ github.workspace }}/src
      INSTALL_DIR: ${{ github.workspace }}/install/openvino
      INSTALL_WHEELS_DIR: ${{ github.workspace }}/install/wheels
      INSTALL_TEST_DIR: ${{ github.workspace }}/install/tests
      BUILD_DIR: ${{ github.workspace }}/build
      DOCKER_CONFIG: "/mount/.docker"
      CMAKE_CXX_COMPILER_LAUNCHER: sccache
      CMAKE_C_COMPILER_LAUNCHER: sccache
      SCCACHE_IGNORE_SERVER_IO_ERROR: 1
      SCCACHE_SERVER_PORT: 35555
      SCCACHE_CACHE_SIZE: 50G
      SCCACHE_AZURE_KEY_PREFIX: manylinux_2014
      ARTIFACTS_SHARE: "/mount/build-artifacts"
      MANIFEST_PATH: ${{ github.workspace }}/manifest.yml
      PRODUCT_TYPE: public_manylinux2014_x86_64_release
      
    steps:
      - name: Clone OpenVINO
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          path: ${{ env.OPENVINO_REPO }}
          submodules: 'true'

      - name: System info
        uses: ./src/.github/actions/system_info
        
      - name: Generate product manifest and set CI_BUILD_NUMBER & CI_BUILD_DEV_TAG
        id: create_manifest
        uses: ./src/.github/actions/create_manifest
        with:
          repos: |
            ${{ env.OPENVINO_REPO }}
          product_type: ${{ env.PRODUCT_TYPE }}
          target_arch: ${{ env.ARCH }}
          build_type: ${{ env.CMAKE_BUILD_TYPE }}
          save_to: ${{ env.MANIFEST_PATH }}

      - name: Create docker build cache
        run: |
          docker volume create ov_build_cache
          
      - name: Build OpenVINO
        run: |
          docker run --rm \
            -v ${{ env.OPENVINO_REPO }}:/work/src \
            -v ov_build_cache:/work/build \
            -v ${{ env.INSTALL_DIR }}:/work/install \
            -v ${{ env.INSTALL_TEST_DIR }}:/work/api_tests \
            -e SCCACHE_AZURE_BLOB_CONTAINER \
            -e SCCACHE_AZURE_CONNECTION_STRING \
            -e SCCACHE_SERVER_PORT \
            -e SCCACHE_IGNORE_SERVER_IO_ERROR \
            -e SCCACHE_CACHE_SIZE \
            -e SCCACHE_AZURE_KEY_PREFIX \
            -e CMAKE_CXX_COMPILER_LAUNCHER \
            -e CMAKE_C_COMPILER_LAUNCHER \
            -e CI_BUILD_NUMBER \
            -e CI_BUILD_DEV_TAG \
            -w /work/src \
            ${{ fromJSON(needs.docker.outputs.images).ov_build.manylinux2014_x86_64 }} \
            /bin/bash -c "
              python3.12 -m pip install -r /work/src/src/bindings/python/wheel/requirements-dev.txt
              cmake -DPython3_EXECUTABLE=/usr/local/bin/python3.12 -DENABLE_CPPLINT=OFF -DENABLE_NCC_STYLE=OFF -DENABLE_TESTS=ON -DCMAKE_VERBOSE_MAKEFILE=ON -DENABLE_OV_TF_FRONTEND=OFF -DENABLE_OV_TF_LITE_FRONTEND=OFF -DENABLE_OV_PADDLE_FRONTEND=OFF -DENABLE_OV_PYTORCH_FRONTEND=OFF -DENABLE_OV_JAX_FRONTEND=OFF -DENABLE_OV_ONNX_FRONTEND=OFF -DENABLE_PYTHON=ON -DENABLE_WHEEL=ON -S /work/src -B /work/build &&
              cmake --build /work/build --parallel $(nproc) --config ${{ env.CMAKE_BUILD_TYPE }} &&
              cmake --install /work/build --config ${{ env.CMAKE_BUILD_TYPE }} --prefix /work/install
              cmake --install /work/build --config ${{ env.CMAKE_BUILD_TYPE }} --prefix /work/api_tests --component tests
            "
            
      - name: Pack Artifacts
        run: mkdir -p ${{ env.BUILD_DIR }} && tar -cvf - * | pigz > ${{ env.BUILD_DIR }}/openvino_package.tar.gz
        working-directory: ${{ env.INSTALL_DIR }}
            
      - name: Build Python API(Python 3.9-3.13)
        run: |
          SUPPORTED_PYTHON_VERSIONS=("39" "310" "311" "312" "313")
          for PY_VER in "${SUPPORTED_PYTHON_VERSIONS[@]}"; do
            python_path=/opt/python/cp${PY_VER}-cp${PY_VER}/bin
            docker run --rm \
              -v ${{ env.OPENVINO_REPO }}:/work/src \
              -v ${{ env.INSTALL_WHEELS_DIR }}:/work/wheels \
              -v ${{ env.INSTALL_TEST_DIR }}:/work/api_tests \
              -v ${{ env.PIP_CACHE_PATH }}:/work/pip_cache \
              -v ov_build_cache:/work/build \
              -e SCCACHE_AZURE_BLOB_CONTAINER \
              -e SCCACHE_AZURE_CONNECTION_STRING \
              -e SCCACHE_SERVER_PORT \
              -e SCCACHE_IGNORE_SERVER_IO_ERROR \
              -e SCCACHE_CACHE_SIZE \
              -e SCCACHE_AZURE_KEY_PREFIX \
              -e CMAKE_CXX_COMPILER_LAUNCHER \
              -e CMAKE_C_COMPILER_LAUNCHER \
              -e CI_BUILD_NUMBER \
              -e CI_BUILD_DEV_TAG \
              -w /work/src \
              ${{ fromJSON(needs.docker.outputs.images).ov_build.manylinux2014_x86_64 }} \
              /bin/bash -c "
                export PATH=${python_path}:\$PATH
                PIP_VER=$(python3 -c "import pip; print(pip.__version__)")
                export "PIP_CACHE_DIR=/work/pip_cache/${PIP_VER}"
                python3 -m pip install -r /work/src/src/bindings/python/wheel/requirements-dev.txt &&
                cmake -DOpenVINODeveloperPackage_DIR=/work/build -DENABLE_PYTHON=ON -DENABLE_WHEEL=ON -S /work/src/src/bindings/python -B /work/build_py${PY_VER} &&
                cmake --build /work/build_py${PY_VER} --parallel $(nproc) --target ie_wheel pyopenvino --config ${{ env.CMAKE_BUILD_TYPE }} &&
                cmake --install /work/build_py${PY_VER} --config ${{ env.CMAKE_BUILD_TYPE }} --prefix /work/wheels --component python_wheels
              "
          done

      - name: Check tests
        run: ls -laR ${{ env.INSTALL_TEST_DIR }}

      - name: Pack openvino_tests
        run: tar -cvf - * | pigz > ${{ env.BUILD_DIR }}/openvino_tests.tar.gz
        working-directory: ${{ env.INSTALL_TEST_DIR }}

      #
      # Upload build artifacts
      #
      - name: Upload openvino package
        if: ${{ always() }}
        uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4.4.3
        with:
          name: openvino_package
          path: ${{ env.BUILD_DIR }}/openvino_package.tar.gz
          if-no-files-found: 'error'
      
      - name: Upload openvino wheels
        if: ${{ always() }}
        uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4.4.3
        with:
          name: openvino_wheels
          path: ${{ env.INSTALL_WHEELS_DIR }}/wheels/*.whl
          if-no-files-found: 'error'

      - name: Upload openvino tests package
        if: ${{ always() }}
        uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4.4.3
        with:
          name: openvino_tests
          path: ${{ env.BUILD_DIR }}/openvino_tests.tar.gz
          if-no-files-found: 'error'

      - name: Store artifacts to a shared drive
        id: store_artifacts
        if: ${{ always() }}
        uses: ./src/.github/actions/store_artifacts
        with:
          artifacts: |
            ${{ env.BUILD_DIR }}/openvino_package.tar.gz
            ${{ env.MANIFEST_PATH }}
            ${{ env.INSTALL_WHEELS_DIR }}/wheels
          storage_dir: ${{ env.PRODUCT_TYPE }}
          storage_root: ${{ env.ARTIFACTS_SHARE }}

  Python_API_Tests:
    name: Python API Tests
    if: fromJSON(needs.smart_ci.outputs.affected_components).Python_API.test
    needs: [ Build, Docker, Smart_CI ]
    timeout-minutes: 35
    defaults:
      run:
        shell: bash
    strategy:
      fail-fast: false
      matrix:
        include:
          - python-version: "3.9"
            image: ${{ fromJSON(needs.docker.outputs.images).ov_test.fedora_33 }}
          - python-version: "3.10"
            image: ${{ fromJSON(needs.docker.outputs.images).ov_test.debian_10_py310 }}
          - python-version: "3.11"
            image: ${{ fromJSON(needs.docker.outputs.images).ov_test.ubuntu_22_04_x64 }}
          - python-version: "3.12"
            image: ${{ fromJSON(needs.docker.outputs.images).ov_test.ubuntu_24_04_x64 }}
          - python-version: "3.13"
            image: ${{ fromJSON(needs.docker.outputs.images).ov_test.ubuntu_20_04_x64_py313 }}
    runs-on: aks-linux-4-cores-16gb
    container:
      image: ${{ matrix.image }}
      volumes:
        - /mount:/mount
    env:
      DEBIAN_FRONTEND: noninteractive # to prevent apt-get from waiting user input
      OPENVINO_REPO: ${{ github.workspace }}/openvino
      INSTALL_DIR: ${{ github.workspace }}/install
      INSTALL_WHEELS_DIR: ${{ github.workspace }}/install/wheels
      INSTALL_TEST_DIR: ${{ github.workspace }}/install/tests
    steps:
      - name: Download OpenVINO artifacts (tarballs)
        uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4.1.8
        with:
          pattern: openvino_[tests]*
          path: ${{ env.INSTALL_DIR }}
          merge-multiple: true

      - name: Download OpenVINO artifacts (wheels)
        uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4.1.8
        with:
          pattern: openvino_wheels
          path: ${{ env.INSTALL_WHEELS_DIR }}

      # Needed as ${{ github.workspace }} is not working correctly when using Docker
      - name: Setup Variables
        run: |
          echo "OPENVINO_REPO=$GITHUB_WORKSPACE/openvino" >> "$GITHUB_ENV"
          echo "INSTALL_DIR=$GITHUB_WORKSPACE/install" >> "$GITHUB_ENV"
          echo "INSTALL_TEST_DIR=$GITHUB_WORKSPACE/install/tests" >> "$GITHUB_ENV"
          echo "INSTALL_WHEELS_DIR=$GITHUB_WORKSPACE/install/wheels" >> "$GITHUB_ENV"

      - name: Extract OpenVINO packages
        run: pigz -dc openvino_tests.tar.gz | tar -xf - -C ${INSTALL_DIR}
        working-directory: ${{ env.INSTALL_DIR }}

      - name: Check dirs
        continue-on-error: true
        run: ls -laR ${INSTALL_DIR}

      - name: Check tests
        run: ls -laR ${{ env.INSTALL_TEST_DIR }}

      - name: Fetch setup_python and install wheels actions
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          sparse-checkout: |
            .github/actions/setup_python/action.yml
            .github/actions/install_ov_wheels/action.yml
          sparse-checkout-cone-mode: false
          path: 'openvino'

      - name: Setup Python ${{ matrix.python-version }}
        uses: ./openvino/.github/actions/setup_python
        with:
          version: ${{ matrix.python-version }}
          pip-cache-path: ${{ env.PIP_CACHE_PATH }}
          should-setup-pip-paths: 'true'
          self-hosted-runner: 'true'

      - name: Install OpenVINO Python wheels
        uses: ./openvino/.github/actions/install_ov_wheels
        with:
          wheels-dir-path: ${{ env.INSTALL_WHEELS_DIR }}
          wheels-to-install: 'openvino'

      - name: Install Python API tests dependencies
        run: python3 -m pip install -r ${{ env.INSTALL_TEST_DIR }}/bindings/python/requirements_test.txt

      - name: Python API Tests
        run: |
          # for 'template' extension
          export LD_LIBRARY_PATH=${INSTALL_TEST_DIR}:$LD_LIBRARY_PATH
          python3 -m pytest -sv ${INSTALL_TEST_DIR}/pyopenvino \
            --junitxml=${INSTALL_TEST_DIR}/TEST-Pyngraph.xml \
            --ignore=${INSTALL_TEST_DIR}/pyopenvino/tests/test_utils/test_utils.py

      - name: Python API Tests -- numpy>=2.0.0
        run: |
          python3 -m pip uninstall -y numpy
          python3 -m pip install "numpy>=2.0.0,<2.2.0"
          python3 -m pip install -r ${INSTALL_TEST_DIR}/bindings/python/requirements_test.txt
          # for 'template' extension
          export LD_LIBRARY_PATH=${INSTALL_TEST_DIR}:$LD_LIBRARY_PATH
          python3 -m pytest -sv ${INSTALL_TEST_DIR}/pyopenvino \
            --junitxml=${INSTALL_TEST_DIR}/TEST-Pyngraph.xml \
            --ignore=${INSTALL_TEST_DIR}/pyopenvino/tests/test_utils/test_utils.py

      - name: Upload Test Results
        uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4.4.3
        if: ${{ !cancelled() }}
        with:
          name: test-results-python-${{ matrix.python-version }}
          path: |
            ${{ env.INSTALL_TEST_DIR }}/TEST*.html
            ${{ env.INSTALL_TEST_DIR }}/TEST*.xml
          if-no-files-found: 'error'


  Overall_Status:
    name: ci/gha_overall_status_manylinux2014
    needs: [Smart_CI, Build, Python_API_Tests]
    if: ${{ always() }}
    runs-on: ubuntu-latest
    steps:
      - name: Check status of all jobs
        if: >-
          ${{
            contains(needs.*.result, 'failure') ||
            contains(needs.*.result, 'cancelled')
          }}
        run: exit 1