name: Linux (Ubuntu 22.04, Python 3.11)
on:
  schedule:
    # at 00:00 on Wednesday and Saturday
    - cron: '0 0 * * 3,6'
  workflow_dispatch:
    inputs:
      target-branch:
        description: 'Target branch for the build; taken from event context by default'
        type: string
        required: false
  #pull_request:
  merge_group:
  push:
    branches:
      - master
      - 'releases/**'

concurrency:
  # github.ref is not unique in post-commit
  group: ${{ github.event_name == 'push' && github.run_id || github.ref }}-ubuntu-22
  cancel-in-progress: true

permissions: read-all

env:
  PIP_CACHE_PATH: /mount/caches/pip/linux
  PYTHON_VERSION: '3.11'
  TARGET_BRANCH: ${{ inputs.target-branch || github.base_ref || github.event.merge_group.base_ref || github.ref }}

jobs:
  Smart_CI:
    runs-on: ubuntu-latest
    if: github.event.pull_request.draft == false || github.run_attempt > 1
    outputs:
      affected_components: "${{ steps.smart_ci.outputs.affected_components }}"
      changed_components: "${{ steps.smart_ci.outputs.changed_components }}"
      skip_workflow: "${{ steps.smart_ci.outputs.skip_workflow }}"
    steps:
      - name: checkout action
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        timeout-minutes: 15
        with:
          sparse-checkout: .github/actions/smart-ci

      - name: Get affected components
        id: smart_ci
        uses: ./.github/actions/smart-ci
        with:
          repository: ${{ github.repository }}
          pr: ${{ github.event.number }}
          commit_sha: ${{ github.sha }}
          ref_name: ${{ github.ref_name }}
          component_pattern: "category: (.*)"
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          skip_when_only_listed_labels_set: 'docs'
          skip_when_only_listed_files_changed: '*.md,*.rst,*.png,*.jpg,*.svg'

      - name: Show affected components
        run: |
          echo "${{ toJSON(steps.smart_ci.outputs.affected_components) }}"
        shell: bash

  Docker:
    needs: Smart_CI
    runs-on: aks-linux-4-cores-16gb-docker-build-st
    container:
      image: openvinogithubactions.azurecr.io/docker_build:0.2
      volumes:
        - /mount:/mount
    outputs:
      images: "${{ steps.handle_docker.outputs.images && steps.handle_docker.outputs.images || steps.mock_image.outputs.images }}"
    steps:
      - name: Set mock output images if pipeline should be skipped
        if: ${{ needs.smart_ci.outputs.skip_workflow == 'True' }}
        id: mock_image
        run: echo "images={\"ov_test\":{\"ubuntu_22_04_x64\":\"mock\"},\"ov_build\":{\"ubuntu_22_04_x64\":\"mock\"},\"ov_build\":{\"ubuntu_22_04_x64_nvidia\":\"mock\"}}" >> "$GITHUB_OUTPUT"

      - name: Checkout
        if: ${{ needs.smart_ci.outputs.skip_workflow != 'True' }}
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        timeout-minutes: 15

      - uses: ./.github/actions/handle_docker
        if: ${{ needs.smart_ci.outputs.skip_workflow != 'True' }}
        id: handle_docker
        with:
          images: |
            ov_build/ubuntu_22_04_x64
            ov_build/ubuntu_22_04_x64_nvidia
            ov_test/ubuntu_22_04_x64
          registry: 'openvinogithubactions.azurecr.io'
          dockerfiles_root_dir: '.github/dockerfiles'
          changed_components: ${{ needs.smart_ci.outputs.changed_components }}

  Build:
    strategy:
      fail-fast: false
      matrix:
        variant:
          - name: baseline
            runner: aks-linux-16-cores-32gb-st
          - name: baseline_x_2
            runner: aks-linux-32-cores-64gb-st
          - name: d_size_smaller
            runner: aks-linux-8-cores-16gb-d-st
          - name: d_size
            runner: aks-linux-16-cores-32gb-d-st
          - name: d_size_x_2
            runner: aks-linux-32-cores-64gb-d-st
          - name: nvme_smaller
            runner: aks-linux-8-cores-16gb-nvme-st
          - name: nvme
            runner: aks-linux-16-cores-32gb-nvme-st
          - name: nvme_x_2
            runner: aks-linux-32-cores-64gb-nvme-st
          - name: amd_nvme_smaller
            runner: aks-linux-8-cores-16gb-amd-nvme-st
          - name: amd_nvme
            runner: aks-linux-16-cores-32gb-amd-nvme-st
          - name: amd_nvme_x_2
            runner: aks-linux-32-cores-64gb-amd-nvme-st
        cache:
          - False
          - True
    needs: [Docker, Smart_CI]
    if: "!needs.smart_ci.outputs.skip_workflow"
    uses: ./.github/workflows/job_build_linux.yml
    with:
      runner: ${{ matrix.variant.runner }}
      image: ${{ fromJSON(needs.docker.outputs.images).ov_build.ubuntu_22_04_x64 }}
      affected-components: ${{ needs.smart_ci.outputs.affected_components }}
      event-name: ${{ github.event_name }}
      os: 'ubuntu_22_04'
      build-js: true
      build-contrib: true
      build-debian-packages: true
      build-rpm-packages: false
      build-additional-python-packages: true
      cache: ${{ matrix.cache }}
      target-branch: ${{ inputs.target-branch }}
      cmake-options: >-
            -G 'Ninja Multi-Config'
            -DENABLE_NCC_STYLE=OFF
            -DENABLE_TESTS=ON
            -DENABLE_STRICT_DEPENDENCIES=OFF
            -DENABLE_SYSTEM_OPENCL=ON
            -DCMAKE_VERBOSE_MAKEFILE=ON
            -DCPACK_GENERATOR=TGZ
            -DENABLE_WHEEL=ON
            -DCMAKE_COMPILE_WARNING_AS_ERROR=ON

  # ONNX_Runtime:
  #   name: ONNX Runtime Integration
  #   # if: fromJSON(needs.smart_ci.outputs.affected_components).ONNX_RT ||
  #   #     fromJSON(needs.smart_ci.outputs.affected_components).ONNX_FE
  #   if: ${{ 'false' }} # 168858
  #   needs: [ Build, Smart_CI, Docker ]
  #   uses: ./.github/workflows/job_onnx_runtime.yml
  #   with:
  #     runner: 'aks-linux-16-cores-32gb'
  #     image: ${{ fromJSON(needs.docker.outputs.images).ov_build.ubuntu_22_04_x64 }}
  #     sccache-azure-key-prefix: 'ubuntu22_x86_64_onnxruntime'

  # NVIDIA_Plugin:
  #   name: NVIDIA plugin
  #   needs: [ Docker, Build, Smart_CI ]
  #   timeout-minutes: 30
  #   defaults:
  #     run:
  #       shell: bash
  #   runs-on: aks-linux-16-cores-32gb
  #   container:
  #     image: ${{ fromJSON(needs.docker.outputs.images).ov_build.ubuntu_22_04_x64_nvidia }}
  #     volumes:
  #       - /mount:/mount
  #     options: -e SCCACHE_AZURE_BLOB_CONTAINER -e SCCACHE_AZURE_CONNECTION_STRING
  #   env:
  #     CMAKE_BUILD_TYPE: 'Release'
  #     CMAKE_GENERATOR: 'Ninja Multi-Config'
  #     CMAKE_CUDA_COMPILER_LAUNCHER: sccache
  #     CMAKE_CXX_COMPILER_LAUNCHER: sccache
  #     CMAKE_C_COMPILER_LAUNCHER: sccache
  #     SCCACHE_IGNORE_SERVER_IO_ERROR: 1
  #     SCCACHE_SERVER_PORT: 35555
  #     SCCACHE_ERROR_LOG: /__w/openvino/sccache_log.txt
  #     SCCACHE_LOG: warn
  #     INSTALL_DIR: /__w/openvino/openvino/install
  #     OPENVINO_DEVELOPER_PACKAGE: /__w/openvino/openvino/install/developer_package
  #     OPENVINO_REPO: /__w/openvino/openvino/openvino
  #     OPENVINO_CONTRIB_REPO: /__w/openvino/openvino/openvino_contrib
  #     NVIDIA_BUILD_DIR: /__w/openvino/openvino/nvidia_plugin_build
  #     DEBIAN_FRONTEND: 'noninteractive'
  #     SCCACHE_AZURE_KEY_PREFIX: ubuntu22_x86_64_Release
  #   if: fromJSON(needs.smart_ci.outputs.affected_components).NVIDIA

  #   steps:
  #     - name: Download OpenVINO package
  #       uses: akashchi/download-artifact@d59a9c15fec3fdb7c9adf09464124d00f9c11415
  #       with:
  #         name: openvino_package
  #         path: ${{ env.INSTALL_DIR }}

  #     - name: Download OpenVINO dev package
  #       uses: akashchi/download-artifact@d59a9c15fec3fdb7c9adf09464124d00f9c11415
  #       with:
  #         name: openvino_developer_package
  #         path: ${{ env.INSTALL_DIR }}

  #     - name: Extract OpenVINO packages
  #       run: |
  #           pigz -dc openvino_package.tar.gz | tar -xf - -C ${{ env.INSTALL_DIR }}
  #           mkdir -p ${{ env.OPENVINO_DEVELOPER_PACKAGE }} && pigz -dc developer_package.tar.gz | tar -xf - -C ${{ env.OPENVINO_DEVELOPER_PACKAGE }}
  #       working-directory: ${{ env.INSTALL_DIR }}

  #     - name: Clone OpenVINO Contrib
  #       uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
  #       timeout-minutes: 15
  #       with:
  #         repository: 'openvinotoolkit/openvino_contrib'
  #         path: ${{ env.OPENVINO_CONTRIB_REPO }}
  #         ref: ${{ env.TARGET_BRANCH }}

  #     #
  #     # Build
  #     #

  #     - name: Cmake & Build - NVIDIA Plugin
  #       run: |
  #         source ${INSTALL_DIR}/setupvars.sh
  #         cmake \
  #           -DOpenVINODeveloperPackage_DIR=${OPENVINO_DEVELOPER_PACKAGE}/cmake \
  #           -DCMAKE_COMPILE_WARNING_AS_ERROR=OFF \
  #           -S ${OPENVINO_CONTRIB_REPO}/modules/nvidia_plugin \
  #           -B ${NVIDIA_BUILD_DIR}
  #         cmake --build ${NVIDIA_BUILD_DIR} --parallel $(nproc) --config ${{ env.CMAKE_BUILD_TYPE }} --verbose -- ov_nvidia_func_tests ov_nvidia_unit_tests

  #     - name: Show ccache stats
  #       run: ${SCCACHE_PATH} --show-stats

