name: Windows (VS 2022, Python 3.11, Release)
on:
  workflow_dispatch:
    inputs:
      target-branch:
        description: 'Target branch for the build; taken from event context by default'
        type: string
        required: false
  pull_request:
  merge_group:
  push:
    branches:
      - master
      - 'releases/**'
concurrency:
  # github.ref is not unique in post-commit
  group: ${{ github.event_name == 'push' && github.run_id || github.ref }}-windows
  cancel-in-progress: true

env:
  TARGET_BRANCH: ${{ inputs.target-branch || github.base_ref || github.event.merge_group.base_ref || github.ref }}
  PIP_CACHE_PATH: "C:\\mount\\caches\\pip\\win"
  PYTHON_VERSION: '3.11'

permissions: read-all

jobs:
  Smart_CI:
    runs-on: ubuntu-latest
    outputs:
      affected_components: "${{ steps.smart_ci.outputs.affected_components }}"
      skip_workflow: "${{ steps.smart_ci.outputs.skip_workflow }}"
      target_branch: ${{ steps.set_target_branch.outputs.target_branch }}
    steps:
      - name: checkout action
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        timeout-minutes: 15
        with:
          sparse-checkout: .github/actions/smart-ci

      - name: Get affected components
        id: smart_ci
        uses: ./.github/actions/smart-ci
        with:
          repository: ${{ github.repository }}
          pr: ${{ github.event.number }}
          commit_sha: ${{ github.sha }}
          ref_name: ${{ github.ref_name }}
          component_pattern: "category: (.*)"
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          skip_when_only_listed_labels_set: 'docs'
          skip_when_only_listed_files_changed: '*.md,*.rst,*.png,*.jpg,*.svg,*/layer_tests_summary/*,*/conformance/*'

      - name: Get target branch
        id: set_target_branch
        run: |
          echo "target_branch=${TARGET_BRANCH#refs/heads/}" >> $GITHUB_OUTPUT

  Build:
    strategy:
      fail-fast: false
      matrix:
        variant:
          - name: 'baseline'
            runner: 'aks-win-16-cores-32gb-build-st'
          - name: 'nvme'
            runner: 'aks-win-16-cores-32gb-nvme-st'
          - name: 'managed-disk'
            runner: 'aks-win-16-cores-32gb-mdsk-st'
          - name: 'd-size'
            runner: 'aks-win-16-cores-32gb-d-st'
        cache:
          - True
          - False
    needs: [ Smart_CI ]
    if: "!needs.smart_ci.outputs.skip_workflow"
    name: Build - ${{ matrix.variant.name }} - Cache: ${{ matrix.cache }}
    uses: ./.github/workflows/job_build_windows.yml
    with:
      runner: ${{ matrix.variant.runner }}
      cache: ${{ matrix.cache }}
      affected-components: ${{ needs.smart_ci.outputs.affected_components }}
      build-type: 'Release'
      target-branch: ${{ needs.smart_ci.outputs.target_branch }}
      build-additional-python-wheels: true
      cmake-options: >-
            -G 'Ninja Multi-Config'
            -DENABLE_PYTHON=ON
            -DENABLE_WHEEL=OFF
            -DENABLE_CPPLINT=OFF
            -DENABLE_TESTS=ON
            -DCMAKE_COMPILE_WARNING_AS_ERROR=ON
            -DENABLE_STRICT_DEPENDENCIES=OFF
            -DCMAKE_DISABLE_FIND_PACKAGE_PkgConfig=ON

